/* #navbarResponsive .nav-item:hover .nav-link {
  background-color: white;
  color: #4d62ad;
} */
*, p, a{
  font-display: swap;
}
#navbarResponsive .nav-item .nav-link {
  position: relative;
  border-radius: 5px;
}

#navbarResponsive .nav-item {
  transition: all ease-in-out 0.5ms;
}

#navbarResponsive .has-nav {
  position: relative;
}

#navbarResponsive .dropdown-list {
  position: absolute;
  border-radius: 5px;
  background-color: white;
  padding: 0px;
  font-size: 17px;
  transform: translate(8px, 20px);
  opacity: 0;
  visibility: hidden;
  box-shadow: 2px 5px 4px #4d62ad;
  transition: all ease-in-out 0.3s;
  z-index: 999;
}

#navbarResponsive .nav-item:hover {
  cursor: pointer;
}

#navbarResponsive .nav-item:hover .dropdown-list {
  color: #343a40 !important;
  transform: translate(8px, 15px);
  visibility: visible;
  opacity: 1;
}

#navbarResponsive .dropdown-list li,
#navbarResponsive .dropdown-list .nav-link {
  list-style-type: none;
  text-decoration: none;
  white-space: nowrap;
  padding: 2px 10px;
  transition: all ease-in-out 0.3ms;
}

#navbarResponsive .dropdown-list li a {
  display: block;
}

#whatsapp-link {
  transition: all ease-in-out 0.3s;
}

#whatsapp-link:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 3px 3px #999999) !important;
}

.collapse .card {
  border: none;
}

.collapse-heading {
  border-radius: 10px;
  border: solid rgb(215, 215, 215) 1px;
  background: #dddddd;
  position: relative;
  color: rgb(59, 59, 59);
}

.collapse-heading:focus,
.collapse-heading:focus {
  box-shadow: none;
}

.collapse-heading.collapsed {
  background: #f3f3f3;
}

.collapse-heading.collapsed .close {
  transform: rotate(45deg);
  transition: all ease-in-out 0.3s;
}
.collapse-heading .close {
  transition: all ease-in-out 0.3s;
}

#navbarResponsive .dropdown-list li:hover {
  background-color: #4d62ad18;
}

#navbarResponsive ul li.active .nav-link:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
#navbarResponsive ul li:hover .nav-link:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
#navbarResponsive ul li:hover .dropdown-list {
  top: 34px;
  opacity: 1;
  visibility: visible;
}

#navbarResponsive .nav-link span {
  float: right;
  font-size: 1.8rem;
  margin-top: 5px;
}


#navbarResponsive ul li .nav-link:after {
  position: absolute;
  left: 8px;
  top: 0;
  width: 73%;
  height: 2px;
  background: white;
  content: "";
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.illustration-card{
  box-shadow: 2px 4px 7px #808080a8 !important;
}
.illustration-card .card-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 991px) {
  #navbarResponsive .dropdown-list {
    transform: translate(-50px, 0px);
  }
  .collapse-heading .close {
    position: absolute;
    top: 8px;
    right: 10px;
  }
  #navbarResponsive .nav-link span {
    margin: 0px 10px;
  }
 
  .collapse-heading button:focus {
    outline: 0px !important;
  }
  #navbarResponsive .nav-item:hover .dropdown-list {
    transform: translate(10px, 0px);
    position: inherit;
  }
  #navbarResponsive .nav-link {
    padding-left: 10px;
  }
  #navbarResponsive .dropdown-list li,
  #navbarResponsive .dropdown-list .nav-link {
    white-space: initial;
  }
  #navbarResponsive .has-nav {
    position: inherit;
  }
  #navbarResponsive .nav-item:hover .dropdown-list {
    max-width: 40%;
  }
  #navbarResponsive ul li .nav-link:after {
    max-width: 40%;
  }
}


.card-image:hover{
  background-color: black;
}