/* Add your custom styles here */
img {
  max-width: 100%;
}

.navbar {
  padding: 1rem;
}


blockquote {
  font-size: 2rem;
  font-style: italic;
  font-family: -apple-system,".sfnstext-regular",san francisco,roboto,segoe ui,helvetica neue,lucida grande,Arial,sans-serif;
  border-left: 6px solid $brand-color;
  padding-left: 1rem;
  margin-left: 1rem;
}


header {
  img {
    text-align: right;
    margin-right: 2rem;
    @include media-query($on-palm) {
      text-align: center;
      margin-right: 0;
    }
  }

  .title, .lead {
    text-align: left;
    @include media-query($on-palm) {
      text-align: center;
    }
  }
}

#lionels-cards {
  .card {
    margin-bottom: 2em;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    h5 {
      font-size: $font-size;
      font-weight: bold;
    }

  }

  .modal-dialog {
    max-width: 800px;
  }
}



//footer
footer {
  color: #eee;

  a {
    color: #eee;
    &:hover {
      color: $brand-color;
    }
  }

  h4 {
     @include media-query($on-palm) {
          margin-top: 2em;
     }
   }


  .logo {

    display: inline-block;
    border: 3px solid #ddd;
    border-radius: 1px;
    padding: 8px 15px;
    margin-bottom: 1em;

    &:hover {
        border-color: $brand-color;
        cursor: pointer;
    }


    &:hover img {
      filter: grayscale(0);
    }

    img {
      filter: grayscale(100);
    }


    &:hover a {
      color: $brand-color;
      text-decoration: none;
    }

  }

  ul {
    padding: 0;
    margin: 0;
  }

  .payment {
    li {
      list-style: none;
      display: inline-block;
      margin-right: 10px;
    }
  }

  .social {
    margin-right: 10px;
  }
  hr {
    margin-top: 2em !important;
    width: 100%;
  }
}


//navbar
.navbar-dark .navbar-nav .nav-link {
  color: #eee;
  &:hover {
    color: white;
  }
}


//blog section
.btn-primary {
  color: white;
  &:hover, &:focus, &:active {
    color: white;
  }
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
    color: white;
}

// Font resizer
p.nav-link.font-changer {
    display: initial;

    span {
      cursor: pointer;
    }
}


.js-font {
  //should probably set  the font-size to a px/rem/em instead of %
  &-decrease {
    font-size: 75%;
  }

  &-increase {
    font-size: 125%;
  }
}

#advantage-videos {
  a {
    text-decoration: none;
    color: inherit;
  }
  .card {
    margin-bottom: 2em;
  }

  .video {
    img {
      height: 195px;
      width: 100%;
      object-fit: cover;
    }
  }

  .modal-dialog {
    max-width: 800px;
    margin: 30px auto;
  }

  .modal-body {
    position: relative;
    padding: 0;
  }

  .close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
  }
}
