---
layout: compress
title: Employee Recognition
description: The commitment and effort our employees make on a daily basis help keep our clients at home where they want to be for as long as they want to be there. We are thankful to our employees for the hard work and special service they provide.
image: /images/servicebg.jpg
published: false
---


<!DOCTYPE html PUBLIC "-//W3C//DTDXHTML1.0Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <link href="/images/fav-icon.png" rel="shortcut icon"/>
        <meta content="width=device-width, initial-scale=1" name="viewport">
        {% seo %}
        <meta content="seniors care, elder care, assisted living homes, coma care, dementia care, Alzheimer's care, respite care, foster care, hospice care, domicilary care, Geriatric Care Facility, old age home, bed ridden patients, Intervention patients, tracheotomy patients, colostomy, catheter, nasal feeding, PEG feeding, geriatric counseling, senior counseling, old age care, home nursing, elderly care taker,senior care giver,trained home nurses, trained senior carer, gerentology experts, research, seminar, international faculty in gerentology" name="keywords"/>

        <link href="/advant.css" rel="stylesheet" type="text/css"/>
        <script src="/scroltop/scrolltop.js"></script>
        <script src="/scroltop/scrolcontrole.js"></script>

        <!--mobile menu start-->
        <link href="/respmenu/responsivemobilemenu.css" rel="stylesheet" type="text/css"/>
        <script src="/respmenu/jquery.min.js" type="text/javascript"></script>
        <script src="/respmenu/responsivemobilemenu.js" type="text/javascript"></script>
        <!--mobile menu end-->
                                                        
                                                        <!--sidebar script start from here-->
        <script src="/sidebar/jquery.js" type="text/javascript"></script>
        <link href="/sidebar/sidebar.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery("#facebook_right").hover(function () {
                    jQuery(this).stop(true, false).animate({
                        right: 0
                    }, 500);
                }, function () {
                    jQuery("#facebook_right").stop(true, false).animate({
                        right: -325
                    }, 500);
                });

                jQuery("#twitter_right").hover(function () {
                    jQuery(this).stop(true, false).animate({
                        right: 0
                    }, 500);
                }, function () {
                    jQuery("#twitter_right").stop(true, false).animate({
                        right: -325
                    }, 500);
                });

                jQuery("#testimoni_right").hover(function () {
                    jQuery(this).stop(true, false).animate({
                        right: 0
                    }, 500);
                }, function () {
                    jQuery("#testimoni_right").stop(true, false).animate({
                        right: -300
                    }, 500);
                });
            });
        </script>

        <!--sidebar script end from here-->
                                                        <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140719676-1"></script>
        <script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-140719676-1');
</script>
    </head>

    <body>
        <div id="servicebg">
            <div id="foot">
                <div id="fix">
                    <div id="actual">

                        <div class="ratexts">

                            {% include menu.html %}

                        </div>

                        <div class="ratexts">

                            <div class="researchpagehd">
                                <a name="1">Employee Recognition</a>
                            </div>
                            <div class="bgtext">

                                <P>
                                    <strong>Employee of the Month</strong>
                                </P>
                                <p>The commitment and effort our employees make on a daily basis help keep our clients at home where they want to be for as long as they want to be there. We are thankful to our employees for the hard work and special service they provide.</p>

                                <h3>SEPTEMBER -16</h3>
                                <p>
                                    <strong>Sumitha</strong><br/>
                                    Nominated by Amith Bhargava</p>

                                <p>Sumitha has always been very dependable. She goes out of her way to provide for any need. She is a stickler to high standards of personal hygiene. She is always on time and never complains. She is always very professional and dresses very well for the job.</p>

                                <h3>OCTOBER-16</h3>

                                <p>
                                    <strong>SARASA
                                    </strong><br>
                                    Nominated by Abraham Thomas</p>
                                <p>Sarasa is prompt, thorough, compassionate and makes my father feel good. Her caring attitude for my father was life changing. My father is demanding and mostly adamant and finicky, but Sarasa is always at his beck and call. Even when we feel my father is difficult, she kind of  negotiate between us and bring peace. She is very compassionate and no one could doubt her ability to keep cool in a crisis.  She is a peacemaker.
                                </p>

                                <h3>NOVEMBER-16</h3>
                                <p>
                                    <strong>Vijayalakshmi</strong><br/>
                                    Nominated by Tara Viswanathan,
                                </p>

                                <p>Vijayalakshmi is an exceptionally great caregiver to my mother in law. She never calls off and has excellent communication with my mom-in law who is hard of hearing.  Vijayalakshmi works very hard and we all love her. She is very pleasant and respectful to be around and never has an unkind word for anyone. She is an asset to your organization.</p>


                            </div>

                        </div>


                    </div>

                    <div class="scroll-top-wrapper ">
                        <span class="scroll-top-inner">
                            <i class="fa fa-arrow-up"></i>
                        </span>
                    </div>


                    {% include footer.html %}

                </div>
            </div>
        </div>

        {% include sidebar-brochure.html %}

        <!--Start of Tawk.to Script-->
        <script async type="text/javascript">
            var Tawk_API = Tawk_API || {},
                Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"),
                    s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = "https://embed.tawk.to/5831b72d7295ad7394d0ba6f/default";
                s1.charset = "UTF-8";
                s1.setAttribute("crossorigin", "*");
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        <!-- End of Tawk.to Script --><!-- Fontawesome through JavaScript -->
        <script type="text/javascript">
            (function () {
                var css = document.createElement("link");
                css.href = "//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
                css.rel = "stylesheet";
                css.type = "text/css";
                document.getElementsByTagName("head")[0].appendChild(css);
            })();
        </script>
        <script defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1" src="//instant.page/3.0.0" type="module"></script>
    </body>
</html>
