---
layout: compress
title: Experts in senior care
description: Here are some of the experts in seniors care, elder care, assisted living homes, coma care, dementia care, Alzheimer's care, respite care, foster care, hospice care, domicilary care, Geriatric Care Facility, old age home, bed ridden patients, Intervention patients, tracheotomy patients, colostomy, catheter, nasal feeding, PEG feeding, geriatric counseling, senior counseling, old age care, home nursing, elderly care taker,senior care giver,trained home nurses, trained senior carer, gerentology experts, research, seminar, international faculty in gerentology.
image: /images/servicebg.jpg
permalink: /experts/
redirect_from: /experts.html
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/images/fav-icon.png" />
<meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
<link href="/advant.css" rel="stylesheet" type="text/css"/>
<script src="/scroltop/scrolltop.js"></script>
<script src="/scroltop/scrolcontrole.js"></script>

<!--mobile menu start-->
<link rel="stylesheet" href="/respmenu/responsivemobilemenu.css" type="text/css"/>
<script type="text/javascript" src="/respmenu/responsivemobilemenu.js"></script>
<!--mobile menu end-->

<!--sidebar script start from here-->
<script src="/sidebar/jquery.js" type="text/javascript"></script>
<link href="/sidebar/sidebar.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
jQuery(document).ready (
function(){jQuery("#facebook_right").hover(function(){ jQuery(this).stop(true,false).animate({right:  0}, 500); },
function(){ jQuery("#facebook_right").stop(true,false).animate({right: -325}, 500); });

jQuery("#twitter_right").hover(function(){ jQuery(this).stop(true,false).animate({right:  0}, 500); },
function(){ jQuery("#twitter_right").stop(true,false).animate({right: -325}, 500); });

jQuery("#testimoni_right").hover(function(){ jQuery(this).stop(true,false).animate({right:  0}, 500); },
function(){ jQuery("#testimoni_right").stop(true,false).animate({right: -300}, 500); });
});
</script>

<!--sidebar script end from here-->

<!--popup content start here-->
<link href="/pop/modelpop.css" rel="stylesheet" type="text/css">
<!--popup content end here-->
<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140719676-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-140719676-1');
</script>

</head>

<body>
<div id="expertbg">
<div id="foot">
<div id="fix">
<div id="actual">
<div class="ratexts">

{% include menu.html %}

</div>

<div class="ratexts">
<div class="mediapagehd">Experts Panel</div>

<div class="ratexts">

<div class="row1" >
<div class="ratexts">
<label for="modal-1"><a name="1"></a>
<img src="/images/expert/1.jpg" alt="Dr. Carolyn M. Gallogly " border="0" class="widimg"/></label>

<input class="modal-state" id="modal-1" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="modal-1"></label>
  <div class="modal__inner">
    <label class="modal__close" for="modal-1"></label>
    <div class="modhd">Dr. Carolyn M. Gallogly <span>Associate Professor and Gerontologist St. Joseph’s College New York</span></div>
    <p><img src="/images/expert/CAROLYN_GALLOGLY.png" alt="" />
	Dr. Gallogly is a trained gerontologist, specializing in aging policy, educational gerontology and caregiving issues.  She entered the field of gerontology in the 1970’s, studying at the University of Michigan, and then later completed her doctoral work at Stony Brook University in New York. She is an active member of the Gerontological Society of America, and regularly presents papers at the annual conferences.</p>

<p>A longtime employee of St. Joseph’s College in New York, she is the Chairperson of the Department of Community Health and Human Services, where she has taught gerontology to nurses for many years. She developed a Certificate in Gerontology for the College, focusing on the biology, psychology and social aspects of aging.</p>

<p>As an outgrowth of this program, she helped alumni and other professionals found the Gerontology Professionals of Long Island in 1990. This organization is a professional networking group in the New York area for nurses, social workers, housing administrators, home care directors, and others in the field of gerontology.For many years, Dr. Gallogly was the editor of their professional newsletter, Prime Lines, but has now switched to web journalism, with the website, gpli.org.</p>

<p>Besides teaching and administering the undergraduate program in health and human services at St.Joseph’s College, Dr. Gallogly has two other roles at the institution. She is the Director of a Weekend College program, which offers courses to working adults on Saturdays and Sunday mornings, every other weekend. Finally, she is the new Director for the Master’s of Science in Human Services Leadership, Long Island Campus. Dr. Gallogly resides in Bayport, New York, along with her husband Robert Bright. They have two adult children, Andrew and Molly, one in Michigan, and the other in Wales.  Besides their commitment to their professions and family, Bob and Carolyn also enjoy travel, pedal kayaking, and gardening.</p>

  </div>
</div>
</div>
</div>

<div class="row2">

<div class="imggap">
<label for="modal-2"><a name="2"></a>
<img src="/images/expert/2.jpg" alt="Dr. Amanda Phelan" border="0" class="widimg"/></label>

<input class="modal-state" id="modal-2" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="modal-2"></label>

  <div class="modal__inner">
    <label class="modal__close" for="modal-2"></label>
    <div class="modhd">Dr. Amanda Phelan</div>
    <p><img src="/images/expert/AMANDA_PHELAN.png" alt="" /></p>


<p>
Amanda Phelan is originally from County Galway and undertook general nurse training in Portiuncula Hospital, Ballinasloe, Co Galway. Following this she undertook a programme in midwifery in Homerton Hospital in London and a Higher Diploma in Public Health Nursing in UCD. She completed a BNS in Dublin City University and an MSc Nursing (Education) and PhD in UCD.  Her research interests are elder abuse, particularly financial abuse of older people, public health, care of older people and child protection and welfare. She is also interested in health services management in the context of missed care in nursing.</p>

<p>Her research projects are within elder abuse (NCPOP), financial abuse of vulnerable adults (Northern Ireland Health and Social Care) and missed care, health economics and workforce planning in community nursing (INMO), caregivers and dementia (HRB), Ageism (EU COST), Citizen advocacy for vulnerable adults (SAGE & HSE), community nursing -evidence based models (DOH) and financial abuse of vulnerable adults in Irish banking services (BPFI).</p>

<p>She is also a member of the Nursing and Midwifery Board's Fitness to Practice committee and serve on the editorial boards of International Journal of Older People Nursing, Sage Open and the International Journal of Nursing & Clinical Practices. She also act as a journal reviewer for international publications such as Nursing Inquiry, International Journal of Nursing Studies, Journal of Advanced Nursing, Archives of Geriatrics and Gerontology, International Journal of Older People Nursing, Public Health Nursing, Journal of Adult Protection, Journal of Applied Gerontology and the Canadian Review of Social Policy.</p>
  </div>
</div>
</div>

<div class="imggap">
<label for="modal-3"><a name="3"></a>
<img src="/images/expert/3.jpg" alt="Marcie Cooper" border="0" class="widimg"/></label>

<input class="modal-state" id="modal-3" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="modal-3"></label>
  <div class="modal__inner">
    <label class="modal__close" for="modal-3"></label>
    <div class="modhd">Marcie Cooper</div>
    <p><img src="/images/expert/MARCIE_COOPER.png" alt="" />
    Marcie Cooper is the founder of The Hoarding Disorder Institute, a training center to address the emotional, physical, social, financial and legal effects that accompany hoarding disorder. She is a social worker, a professional geriatric care manager and gerontology educator with more than 35 years’ experience providing specialized services to the geriatric community.</p>

    <p>She is an Instructor at Rutgers University in the gerontology advanced certification program. She has been guest lecturer to organizations including the International Conference on Care Management, National Conference on Aging, Assisted Living Facility Association and the National Association of Social Workers. She is an Expert Commentator for Boston University's Institute for Geriatric Social Work.</p>

    <p>Ms. Cooper was appointed by The New Jersey General Assembly to the New Jersey Elderly Person Suicide Prevention Advisory Council. Ms. Cooper serves as President of the NJ Chapter of the National Association of Professional Geriatric Care Managers, serves as Director of the Society on Aging of New Jersey and is a member of the Forum of NJ Healthcare Professionals for the Alzheimer's Association.</p>

    <p>Ms. Cooper is the recipient of the Innovative Program of the Year award from the American Association of Services for the Aging. She has won other national awards including the Distinguished Achievement Award for Best Newly Developed Service from the Society on Aging. Ms. Cooper received her Masters degree in social work from Yeshiva University and holds a B.A. in music therapy from Montclair State University.
	</p>
  </div>
</div>
</div>

<div class="imggap">
<label for="modal-4"><a name="4"></a>
<img src="/images/expert/4.jpg" alt="Dr Paul Nash" border="0" class="widimg"/></label>

<input class="modal-state" id="modal-4" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="modal-4"></label>
  <div class="modal__inner">
    <label class="modal__close" for="modal-4"></label>
    <div class="modhd">Dr Paul Nash	<span>Chartered Psychologist and Gerontologist Centre for Innovative Ageing
    </span></div>

    <p><img src="/images/expert/PAUL_NASH.png" alt=""/>


<p>Paul is a chartered psychologist working as a research project manager in the Centre for Innovative Ageing at Swansea University. He has a developed a niche within social gerontology at Swansea, specializing in the psychological constructs of ageing and ageism.</p>

<p>Paul Graduated with an honours degree in Psychology from the University of Glamorgan where he was actively encouraged to continue into postgraduate education. From this point, Paul embarked on teaching research methodologies to undergraduate students whilst completing his MPhil degree. Following the completion of the Masters programme and acceptance onto the doctoral scheme, Paul joined the Office for National Statistics, a governmental body for generating national data, as a Senior Survey Methodologist. Here, Paul used his psychological underpinning whilst further increasing his knowledge of large level data sets.</p>

<p>Whilst embarking on his PhD in the field of social psychology, Paul chose to specialize in attitudes specifically regarding older people, the topic he has since carved a niche in. He secured a job running a research project at Swansea University where he quickly became an integral part of the Centre for Innovative Ageing. On the back of his first position at Swansea, Paul has acted as an advisor to both private and governmental bodies, imparting research into everyday solutions to increase the quality of life and wellbeing for older adults. His most recent role has enabled him to speak on a global stage about key issues such as dementia, housing and social care, concepts of frailty and, as today, attitudes towards older people.</p>

<p>Paul’s work on attitudes and the consequential behaviours has resulted in several international research collaborations where he is currently working to develop an educational tool to reduce ageism. In research, teaching and external consultancy, Paul has engaged with people on a number of topics, sharing his expertise in research methods, psychology and gerontology alike. It is this ability to communicate that has enabled Paul to achieve a lot in a comparatively short period of time. </p>

<p>In addition to his busy academic life, in his spare time, Paul is an enthusiastic supporter of disability sport. He is an international athletics official which is resulting in his being part of both the upcoming Olympic and Paralympic games in London this summer.</p>
</p>
  </div>
</div>
</div>

</div>

<div class="row3">

</div>

<div class="row4">

<div class="imggap">
<label for="modal-6"><a name="6"></a>
<img src="/images/expert/6.jpg" alt="Judith S Parnes" border="0" class="widimg"/></label>

<input class="modal-state" id="modal-6" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="modal-6"></label>
  <div class="modal__inner">
    <label class="modal__close" for="modal-6"></label>
   <div class="modhd">Judith S Parnes</div>

    <p><img src="/images/expert/JUDITH_S_PARNES.png" alt="" />Judith s. Parnes, Acsw, lcsw, cmc, Executive Director and Founder of Elder Life Management, is a nationally recognized Gerontologist, holding advanced graduate degrees, certification, and  coursework in social work, Aging and Public Health. Ms. Parnes is presently completing her doctral studies in Medical Humanities focusing on Long Term Care and Bio-Medical issues.</p>

	<p>A noted lecturer on concrens of the elderly and their familicies, Ms. Parnes has taught coursework at Rutgers University as well as at community collages throughout New Jersey. She is resposible for the development and implementation of four model programs in the State of New Jersey: Protective Services for the Elderly,
</p>
<p>the Office of Public Guardian, Elder Life Management, Inc., and the family safe Home program for Abused and Neglected Elderly. Ms. Parnes has vast experience as a Corporate Elder Assistance Provider, working directly with employees of such companies as Prudentioal, Continental Data, and AT & T/Bell Labs. Ms. Parnes publishes an elder care newsletter, Elder LifeMatters, which offers eduction and information on topics of interest for semior citizens and caregivers of the elderly.</p>
<p>Ms. Parnes has served on the Governor’s Commission on Elder Abuse, and is Past Chair of the New Jersey Long Term Care planning Committee. She is Co-founder of the New Jersey Long Coalition for the protection of Vulnerable Adults. Presently active in long-term care consulting and quality of life concerns for the elderly, Ms. Parnes serves as Chairperson of the Bioethics Case  Consultation Committee for Long Term Care Facilities in Monmouth Country, and is a member of the state Long term care  Advisory Ethic Consortium ot the office of the state ombudsman. Ms. Parnes has been featured on CBS, NBC and PBS broadcasts, as well as in numerous national news publications.
</p>
  </div>
</div>
</div>

<div class="imggap">
<label for="modal-7"><a name="7"></a>
<img src="/images/expert/7.jpg" alt="Vanessa Burholt" border="0" class="widimg"/></label>

<input class="modal-state" id="modal-7" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="modal-7"></label>
  <div class="modal__inner">
    <label class="modal__close" for="modal-7"></label>
    <div class="modhd">Vanessa Burholt <span>Professor of Gerontology, Director of the Centre for Innovative Ageing at Swansea University</span></div>
    <p><img src="/images/expert/VANESSA_BURHOLT.png" alt=""/></p>




<p>After graduating from the Open University in 1994, Vanessa worked as a researcher at Bangor University while she undertook her PhD. After completing her PhD in 1998, Vanessa became Deputy Director of the Centre for Social Policy Research and Development at Bangor University and in 2004 took over as Director. Vanessa was awarded a personal Chair at Bangor in 2007, and shortly after moved to Swansea University, as Director of the Centre for Innovative Ageing. In 2016, Vanessa was also appointed Director of the pan Wales, Centre for Ageing and Dementia Research.</p>

<p>Vanessa holds a public appointment as the research member of the Ministerial Advisory Forum on Ageing and is co-Chair of the research hub of the Campaign to End Loneliness. Personal awards include Fellow of the Academy of Social Science and Senior Research Leader for Health and Care Research Wales. In 2015, she won the CHHS outstanding contribution to research award. She is a member of the ESRC Peer Review College and ESRC DTC Peer Review College. She sits on the grants panel for ESRC Future Leaders, and ESRC Grants Assessment Panel C and is member of the Board for Health and Care Research Wales.</p>

<p>Vanessa sits on the CHHS Senior Management Board, and Social Care Ethics Committee, and the Research Committee.</p>

<p>Vanessa has worked on and led international and national research projects worth approximately £11.3M, and has supervised 23 post-graduate students.</p>

<p>Her research interests include loneliness, support networks, intergenerational relationships, social exclusion rurality, migration of older people and attachment to place and she has published over 50 articles and book chapters on these topics.</p>


  </div>
</div>
</div>

<div class="imggap">
<label for="modal-8"><a name="8"></a>
<img src="/images/expert/8.jpg" alt="Robyn Flipse" border="0" class="widimg"/></label>

<input class="modal-state" id="modal-8" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="modal-8"></label>
  <div class="modal__inner">
    <label class="modal__close" for="modal-8"></label>
   <div class="modhd">Robyn Flipse, MS, RD <span>Nutrition Consultant  ● Spokesperson ● Author Nutrition Communication Services</span></div>
    <p><img src="/images/expert/ROBYN_FLIPSE.png" alt="" />

	</p>


	<p>Robyn Flipse is a registered dietitian specializing in nutrition communications. Having spent her career in dietetics as a counselor, teacher, writer and media spokesperson, she has become an important resource for easy-to-understand nutrition information and user-friendly suggestions to help make good eating habits part of healthy lifestyle.</p>

	<p>Upon graduation from Florida State University with a Bachelor of Science degree in dietetics, Robyn went on to earn her Master of Science degree in human nutrition and dietetics from Rutgers - The State University of New Jersey. She later returned to Rutgers University and earned a Master of Arts degree in cultural anthropology with a focus on the impact of contemporary societal changes on eating behavior. Most of Robyn’s career has been devoted to a diverse private practice where she provided medical nutrition therapy to individuals and small groups in central New Jersey for over 25 years. She has also served as a consultant to several global food and pharmaceutical companies and on the adjunct faculty at both the university and community college level. Robyn has expertise in the areas of sweeteners and energy balance, childhood nutrition, and the role of functional foods in Dietary Guidelines.</p>

	<p>Throughout her career Robyn has contributed expert commentary to national publications and media outlets, such as CNN, The New York Times, and SELF, plus numerous affiliate television and radio stations reached in her satellite and ground media tours. She is the author of many popular consumer diet and nutrition books, including The Wedding Dress Diet and Fighting the Freshman Fifteen, and several magazine, newsletter and web site articles.</p>

	<p>Volunteering has been a parallel pursuit to Robyn’s professional career. She has devoted her time to the Monmouth-Ocean County FoodBank, Trinity Church Saturday Soup Kitchen and the Two River Theater Company to name a few of her favorite groups. She is a native of the Jersey Shore and now makes her home in Bradley Beach where she tends a large organic vegetable garden and a yard full of purple perennial flowers. </p>
  </div>
</div>
</div>

</div>

<div class="row1">

<div class="imggap">
<label for="modal-9"><a name="9"></a>
<img src="/images/expert/9.jpg" alt="Amy Cotton" border="0" class="widimg"/></label>

<input class="modal-state" id="modal-9" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="modal-9"></label>
  <div class="modal__inner">
    <label class="modal__close" for="modal-9"></label>
    <div class="modhd">Amy Cotton <span>MSN, GNP, FNP, FNGNA, FAAN</span></div>
    <p><img src="/images/expert/AMY_COTTON.png" alt="" />

  <p>Skilled professional with 25 year’s clinical experience in the specialty of gerontological nursing. Current gerontological nursing practice in hospital, nursing facility, assisted living, home health and community based environments.  Previous experience in primary care outpatient setting. </p>

 <p>Established in gerontological nursing specialty with expertise in older adult assessment, treatment, education, research, and service development. National and regional expert in senior health care.</p>

<p>Operations management of senior health care service organization includes clinical care quality oversight, regulatory compliance, human resource management, safety program and fiscal planning.</p>

 <p>National and regional board representative for senior health related organizations. International program development in gerontological nursing.</p>


 </p>
  </div>
</div>
</div>

</div>

</div>



</div>


</div>

<div class="scroll-top-wrapper ">
<span class="scroll-top-inner">
<i class="fa fa-arrow-up"></i>
</span>
</div>

{% include footer.html %}

</div>
</div>
</div>

{% include sidebar-brochure.html %}

<!--Start of Tawk.to Script-->
<script async type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5831b72d7295ad7394d0ba6f/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!-- End of Tawk.to Script --><!-- Fontawesome through JavaScript -->
<script async  type="text/javascript"> (function() { var css = document.createElement('link'); css.href = '//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })();</script>
<script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>
</body>
</html>
