---
layout: compress
title: Research on senior care
description: Population aging changes societies in many ways - Scientific research contributes to reaching the full potential of longer lives. advantAGE seniors is committed to generating knowledge that can help make our longer lives healthier and active at any age. advantAGE seniors contributes to academic training and increases expertise in the field of aging and long term care.
image: /images/servicebg.jpg
permalink: /research/
redirect_from: /research.html
---


<!DOCTYPE html PUBLIC "-//W3C//DTDXHTML1.0Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <link href="/images/fav-icon.png" rel="shortcut icon"/>
        <meta content="width=device-width, initial-scale=1" name="viewport">

        {% seo %}

        <meta content="seniors care, elder care, assisted living homes, coma care, dementia care, Alzheimer's care, respite care, foster care, hospice care, domicilary care, Geriatric Care Facility, old age home, bed ridden patients, Intervention patients, tracheotomy patients, colostomy, catheter, nasal feeding, PEG feeding, geriatric counseling, senior counseling, old age care, home nursing, elderly care taker,senior care giver,trained home nurses, trained senior carer, gerentology experts, research, seminar, international faculty in gerentology" name="keywords"/>

        <link href="/advant.css" rel="stylesheet" type="text/css"/>
        <script src="/scroltop/scrolltop.js"></script>
        <script src="/scroltop/scrolcontrole.js"></script>

        <!--mobile menu start-->
        <link href="/respmenu/responsivemobilemenu.css" rel="stylesheet" type="text/css"/>
        <script src="/respmenu/jquery.min.js" type="text/javascript"></script>
        <script src="/respmenu/responsivemobilemenu.js" type="text/javascript"></script>
        <!--mobile menu end-->
                                                
                                                <!--sidebar script start from here-->
        <script src="/sidebar/jquery.js" type="text/javascript"></script>
        <link href="/sidebar/sidebar.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery("#facebook_right").hover(function () {
                    jQuery(this).stop(true, false).animate({
                        right: 0
                    }, 500);
                }, function () {
                    jQuery("#facebook_right").stop(true, false).animate({
                        right: -325
                    }, 500);
                });

                jQuery("#twitter_right").hover(function () {
                    jQuery(this).stop(true, false).animate({
                        right: 0
                    }, 500);
                }, function () {
                    jQuery("#twitter_right").stop(true, false).animate({
                        right: -325
                    }, 500);
                });

                jQuery("#testimoni_right").hover(function () {
                    jQuery(this).stop(true, false).animate({
                        right: 0
                    }, 500);
                }, function () {
                    jQuery("#testimoni_right").stop(true, false).animate({
                        right: -300
                    }, 500);
                });
            });
        </script>

        <!--sidebar script end from here-->
                                                <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140719676-1"></script>
        <script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-140719676-1');
</script>
    </head>

    <body>
        <div id="servicebg">
            <div id="foot">
                <div id="fix">
                    <div id="actual">

                        <div class="ratexts">
                            <style>
                                        .ratexts.adjust {
                                          margin-top: -9px;
                                          margin-bottom: -9px;
                                        }
                                      </style>
                            {% include menu.html %}

                        </div>

                        <div class="ratexts">

                            <div class="researchpagehd">
                                <a name="1">Introduction</a>
                            </div>
                            <div class="bgtext">

                                <p>
                                    Population aging changes societies in many ways - Scientific research contributes to reaching the full potential of longer lives. advantAGE seniors is committed to generating knowledge that can help make our longer lives healthier and active at any age. advantAGE seniors contributes to academic training and increases expertise in the field of aging and long term care.</p>

                                <p>We just concluded a year long study, titled "The young generation's perception on the elderly and on the services for the elderly in Mangalore". This was a joint study with School of Social work, Roshninilya, Mangalore. Right now we are in the process of initiating three more studies. All three can be initiated through joint studies with an educational institutions of good repute who are equally concerned about the ever increasing aging population.  Three topics shortlisted for studies are as follows. The first one is to understand the standards of care presently followed in long term care settings. Presently a pilot study is already initiated.</p>

                                <p>Second proposed study is to find the Ageism's influence on nursing practice. Ultimate aim is to find the nurse's knowledge, willingness and future intentions to work with older adults. The third one is to understand the absenteeism and work to family conflict among the employed informal caregivers. Family support and caregiving beyond a period is impossible and the struggle at providing care for a long term care patient is severe and excruciating. Employers also suffer as very often the employee takes off from work citing the filial obligations. The study's aim is to understand how many of such employees are directly providing care to the long term care to the relative and what's their challenge.</p>

                                <p>
                                    Social gerontology is a multidisciplinary field focused on the social aspects of aging. Unfortunately, in India, none of the universities have social gerontology as a discipline and we ignore the subject because our population is young and we gloss over impending crisis. 14 years as practicing social gerontologists, we felt the need for more studies in our community as our issues are very unique and findings are the basis for future policy making.  Another strength of advantAGE is its emphasis on applied research.</p>

                                <p>advantAGE seniors is a stimulating work environment which provides opportunities to closely collaborate with practitioner-researchers, institutional researchers, a librarian and knowledge transfer experts from US and other European countries. These individuals actively participate in our research projects, bringing unique perspectives and unparalleled enthusiasm, and also play a key role in training the next generation of researchers in social gerontology.</p>


                            </div>

                        </div>

                        <div class="ratexts">

                            <div class="leftbox">
                                <div class="researchpagehd">
                                    <a name="2">Geriatric Research Book</a>
                                </div>
                                <div align="center" class="iconcover">
                                    <a href="/images/downloads/Geriatric_Research_Book.pdf" target="_blank">
                                        <img border="0" class="widimg" src="/images/download_but2.jpg"/></a>
                                </div>
                            </div>

                            <div class="rightbox">
                                <div class="researchpagehd">
                                    <a name="3">Caregiving workers</a>
                                </div>
                                <div align="center" class="iconcover">
                                    <a href="/images/downloads/Caregiving_workers.pdf" target="_blank">
                                        <img border="0" class="widimg" src="/images/download_but.jpg"/></a>
                                </div>
                            </div>


                        </div>

                    </div>

                    <div class="scroll-top-wrapper ">
                        <span class="scroll-top-inner">
                            <i class="fa fa-2x fa-arrow-up"></i>
                        </span>
                    </div>


                    {% include footer.html %}

                </div>
            </div>
        </div>

        <table width="100%">
            <tr>
                <td>


                    <div id="on">
                        <div id="facebook_right" style="top: 15%; right: -325px; border: 1px solid #822206;">
                            <div id="facebook_div">
                                <img src="/images/ebrochure.png">
                                <iframe frameborder="0" scrolling="no" src="/sidebar/enquiry.htm" width="320px"></iframe>
                            </div>
                        </div>
                    </div>


                    <div id="on">
                        <div id="twitter_right" style="top: 45%; right: -325px; border: 1px solid #822206;">
                            <div id="twitter_div">
                                <img id="twitter_right_img" src="/images/contactus.png">
                                <iframe frameborder="0" scrolling="no" src="/sidebar/contact.htm" width="320px"></iframe>

                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <!--Start of Tawk.to Script-->
        <script async type="text/javascript">
            var Tawk_API = Tawk_API || {},
                Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"),
                    s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = "https://embed.tawk.to/5831b72d7295ad7394d0ba6f/default";
                s1.charset = "UTF-8";
                s1.setAttribute("crossorigin", "*");
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        <!-- End of Tawk.to Script --><!-- Fontawesome through JavaScript -->
        <script type="text/javascript">
            (function () {
                var css = document.createElement("link");
                css.href = "//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
                css.rel = "stylesheet";
                css.type = "text/css";
                document.getElementsByTagName("head")[0].appendChild(css);
            })();
        </script>
        <script defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1" src="//instant.page/3.0.0" type="module"></script>
    </body>
</html>
