---
layout: compress
title: Services
description: Home is the first and the best option for the elders and we call it"ageing in place"! However, many a time, home fails to extend the support systems needed for adequate care giving during infirmity.
image: /images/servicebg.jpg
permalink: /services/
redirect_from: /services.html
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/images/fav-icon.png" />
<meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
<meta name="keywords" content="seniors care, elder care, assisted living homes, coma care, dementia care, Alzheimer's care, respite care, foster care, hospice care, domicilary care, Geriatric Care Facility, old age home, bed ridden patients, Intervention patients, tracheotomy patients, colostomy, catheter, nasal feeding, PEG feeding, geriatric counseling, senior counseling, old age care, home nursing, elderly care taker,senior care giver,trained home nurses, trained senior carer, gerentology experts, research, seminar, international faculty in gerentology" />

<link href="/advant.css" rel="stylesheet" type="text/css"/>
<script src="/scroltop/scrolltop.js"></script>
<script src="/scroltop/scrolcontrole.js"></script>

<!--mobile menu start-->
<link rel="stylesheet" href="/respmenu/responsivemobilemenu.css" type="text/css"/>
<script type="text/javascript" src="/respmenu/responsivemobilemenu.js"></script>
<!--mobile menu end-->


<!--sidebar script start from here-->
<script src="/sidebar/jquery.js" type="text/javascript"></script>
<link href="/sidebar/sidebar.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
jQuery(document).ready (
function(){jQuery("#facebook_right").hover(function(){ jQuery(this).stop(true,false).animate({right:  0}, 500); },
function(){ jQuery("#facebook_right").stop(true,false).animate({right: -325}, 500); });

jQuery("#twitter_right").hover(function(){ jQuery(this).stop(true,false).animate({right:  0}, 500); },
function(){ jQuery("#twitter_right").stop(true,false).animate({right: -325}, 500); });

jQuery("#testimoni_right").hover(function(){ jQuery(this).stop(true,false).animate({right:  0}, 500); },
function(){ jQuery("#testimoni_right").stop(true,false).animate({right: -300}, 500); });
});
</script>

<!--sidebar script end from here-->
<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140719676-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-140719676-1');
</script>
</head>

<body>
<div id="servicebg">
<div id="foot">
<div id="fix">
<div id="actual">

<div class="ratexts">
        
{% include menu.html %}


</div>

<div class="ratexts">

<div class="onebythre">


<div class="servicpagehd"><a name="1">Geriatric Care Facility</a></div>
<div class="bgtext">

<p><strong>Are you looking for a place to keep your loved one?</strong></p>

<P>
Home is the first and the best option for the elders and we call it"ageing in place"! However, many a time, home fails to extend the support systems needed for adequate care giving during infirmity. As the age advances and when the health diminishes the care interventions get intensifies, and mostly many chronic health conditions may demand more professional care. This is when the institutionalized care comes as a probable option.</p>

<p>Our Geriatric Care Facility is for those who no longer fit to live in their own house due to ageing, illness or disability and needs more intense professional care. In our geriatric care facility we care for the bedridden elderly who needs long term care. Adequate health care, right nutrition and timely Nursing intervention are the central activity to achieve the goal to promote quality to the life of infirm elders.</p>

<p>At our Geriatric Care Facility, you or your loved ones can feel safe and well looked after with the highest standards of care that you'd expect from the leaders in long term care like advantAGE seniors. Our staffs are experienced and adequately trained in long term care, helping with daily activities as wellas specialist clinical care.</p>

</div>

<div class="servicpagehd"><a name="2">Coma Care</a></div>
<div class="bgtext">

<p>Comas are always shocking. Although the best medical procedures attend to the immediate physical needs of the coma patients, family and friends are often at a loss in knowing how to support their loved ones further. Coma patients also deserve the same care and attention as any other human being. At adavantAGE we believe that coma patients have the same human rights as everyone else in India. That is why we are concerned with coma care and the family members of those affected by comas.</p>

 <p>
advantAGE is  concerned with the care of coma patients. advantAGE coma care  is made up of motivated individuals; including health professionals, family members and care givers, who wish to improve and enhance the level of coma care in our society. advantAGE coma care strongly believes that those in comatose states are in meaningful life processes.  We help coma patients, their family members and care givers understand the coma and get the help they need at this very difficult time. Our aim lies in building caring partnerships between medical and professional staff, care givers, family members and patients where everyone plays a role in the patient's recovery or dying process.</p>

</div>
<!--
<div class="servicpagehd"><a name="3">Domiciliary Care</a></div>
<div class="bgtext">

<p><strong>Are you concerned about your aged parents?</strong></p>

<p>
For most people, living as independently as you can in your home as you age is what you want. But sometimes you might need some help with daily tasks that you can no longer manage as well on your own. We value each person's uniqueness, life experience, abilities and aspirations and tailor our care to suit each person's need and choices.</p>

<p>At some point of time in your care giving journey, you may need a professional partner. Professional care givers are the backbone of the long term care industry. Though care giving is rewarding and gratifying, it is equally complex and tough. We understand the nuances and complexities of caregiving and train our caregivers to excel in their job. At advantAGE seniors we identify the right individual, train, tune, sensitize, motivate and monitor to be successful caregiver.</p>

<p>Our care giver services are designed with the aim of meeting our changing needs as you get older. advantAGE senior's home care package is a coordinated package of services tailored to meet your care needs. An assessment by an Aged Care Assessment Team(ACAT) is required before you can receive a Home Care Package form advantAGE seniors.</p>

</div> -->

<div class="servicpagehd"><a name="4">Foster Care</a></div>
<div class="bgtext">

<p>
Foster care is signed when the children or the immediate relative is staying miles away and there are no adequate support systems in place for the elders. This will supplement long distance caregiving. In simple terms, we assume the role of the family. Foster care is needed when the family is not in station and the patient needs care and monitoring. </p>

<p>
We assist with physician office visit, hospitalizations and monitoring at regular intervals especially when the patient is left alone. Once we are assigned the care as per the foster care agreement, we will also attend the crisis situations. We update the immediate family as and when needed and get the orders from them and act accordingly. The benefit of the foster care system is that the family who is away and worried about the care of the family member can be at ease when we supplement their role. We act as proxy.</p>
</div>

<div class="servicpagehd"><a name="5">Respite Care</a></div>
<div class="bgtext">

<p><strong>Are you worried about leaving your elderly loved one behind, while you are away?</strong></p>

<p>Caregiving is demanding and everyone needs a break. It is true and important that the primary care givers and families of the long term care patients needs a relief from caregiving responsibilities. Respite care provides caregivers a temporary test from caregiving, while the person with chronic illness continues to receive care in a safe environment.</p>

<p>
If you are primary caregiver directly involved with the care of a long term care patient, then respite care can help you as a caregiver by providing a new environment or time to relax. Emergencies, unplanned situations, unexpected trips or even a planned vacation can create a need for immediate care by an alternate arrangement for care.</p>

<p>Do you worry about your loved one's safety and care while you travel for your official and personal commitments? If yes, here is an answer for that advantAGE Respite Care. Whether it be institutionalized care or domiciliary care we extend respite care so that you can be at ease while you travel.</p>

</div>


<div class="servicpagehd"><a name="6">Geriatric Counselling</a></div>
<div class="bgtext">

<p><strong>Are you looking for a Geriatric Counselling?</strong></p>

<p>Geriatric counselling help individuals and families with issues related to the ageing process as well as the types of care one should receive at-the-fag end of life. Once of the central issues that the elderly patient cope with is loss-impairments in hearing, vision mobility and worsening of overall health. As the age advances many individuals also deal with the loss of independence and to some degree dignity.</p>

<p>Most older people insist that they don't want any help and faculties feel torn about how much to push. Our counselling team can listen to your unique story and help you decide what to do, how much to do or when to intervene.</p>

<p>advantAGE geriatric counselling is a holistic client centered approach to caring for older adults or others facing ongoing health challenges. You can bank on our vast expertise at a time of uncertainty. Our guidance leads families to appreciate actions and decisions that ensure quality care and an optimal life for your loved ones, thus reducing worry and stress.</p>

</div>


<div class="servicpagehd"><a name="7">Family Care Giver Counselling</a></div>
<div class="bgtext">

<p><strong>Are you taking time off from work to face care giving challenges?</strong></p>

<p>Juggling between work life and family life has become a major issue for much of today's workforce. Managing work and family without compromising one another is a major issue in the labor market. Everyone confides that it is very much stressful to balance both because of the competitive mature of today's business. No one working a full time schedule these days - not even a CEO - is immune to the enormous pressure of the demands of responsibilities of family needs.</p>

<p>If this is the normal scene, think about the times when your loved ones, a close family member is chronically ill. Families were indeed providing help to their elders and we never and to seek help outside the family. People who have caregiving responsibilities both for dependent children and frail or infirm parents have been dubbed as the Sandwich Generation. Employee's caregiving responsibilities can have a variety of negative impact on employee's work.</p>

<p>advantAGE seniors understands the pangs of this tricky situation and we can share and shoulder many of your responsibilities at a crisis time. Many a time you may baffle at the enormity of the caregiver problem and it will in turn affect your loved one's care. Our primary care counselling sessions can benefit you a lot in managing this crisis.</p>



</div>


</div>

<div class="onebyfour">

<div class="servicpagehd">Download Brouchure</div>
<div class="iconcover" align="center"><a href="/images/downloads/Brochure.pdf" target="_blank" ><img src="/images/download.jpg" border="0" class="widimg"/></a></div>

<div class="servicpagehd">Geriatric Care Facilitys</div>
<div class="iconcover" align="center"><img src="/images/icons1.jpg"/></div>
<div class="iconcover" align="center"><img src="/images/icons2.jpg"/></div>
<div class="iconcover" align="center"><img src="/images/icons3.jpg"/></div>
<div class="iconcover" align="center"><img src="/images/icons4.jpg"/></div>
<div class="iconcover" align="center"><img src="/images/icons5.jpg"/></div>
<div class="iconcover" align="center"><img src="/images/icons6.jpg"/></div>


</div>


</div>

<div class="scroll-top-wrapper ">
<span class="scroll-top-inner">
<i class="fa fa-2x fa-arrow-up"></i>
</span>
</div>


{% include footer.html %}

</div>
</div>
</div>
</div>

{% include sidebar-brochure.html %}

<!--Start of Tawk.to Script-->
<script async type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5831b72d7295ad7394d0ba6f/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!-- End of Tawk.to Script --><!-- Fontawesome through JavaScript -->
<script async  type="text/javascript"> (function() { var css = document.createElement('link'); css.href = '//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })();</script>
<script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>
</body>
</html>
