---
layout: compress
title: Senior Coma Care
description: Years in the long term care industry, advantAGE seniors is concerned with the care of coma patients in our community. We believe and advocate that the comatose person also deserve the same care and attention as any other patient.
image: /images/servicebg.jpg
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="images/fav-icon.png" />
<meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
<meta name="keywords" content="seniors care, elder care, assisted living homes, coma care, dementia care, Alzheimer's care, respite care, foster care, hospice care, domicilary care, Geriatric Care Facility, old age home, bed ridden patients, Intervention patients, tracheotomy patients, colostomy, catheter, nasal feeding, PEG feeding, geriatric counseling, senior counseling, old age care, home nursing, elderly care taker,senior care giver,trained home nurses, trained senior carer, gerentology experts, research, seminar, international faculty in gerentology" />

<link href="/advant.css?ver2" rel="stylesheet" type="text/css"/>
<script src="/scroltop/scrolltop.js"></script>
<script src="/scroltop/scrolcontrole.js"></script>

<!--mobile menu start-->
<link rel="stylesheet" href="/respmenu/responsivemobilemenu.css" type="text/css"/>
<script type="text/javascript" src="/respmenu/jquery.min.js"></script>
<script type="text/javascript" src="/respmenu/responsivemobilemenu.js"></script>
<!--mobile menu end-->

<!--accordion start-->
<link rel="stylesheet" href="accordian/jquery-ui.css">
  <link rel="stylesheet" href="demos/style.css">
  <script src="accordian/jquery-1.12.4.js"></script>
  <script src="accordian/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>
<!--accordion end-->

<!--sidebar script start from here-->
<script src="/sidebar/Sjquery.js" type="text/javascript"></script>
<link href="/sidebar/sidebar.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
jQuery(document).ready (
function(){jQuery("#facebook_right").hover(function(){ jQuery(this).stop(true,false).animate({right:  0}, 500); },
function(){ jQuery("#facebook_right").stop(true,false).animate({right: -325}, 500); });

jQuery("#twitter_right").hover(function(){ jQuery(this).stop(true,false).animate({right:  0}, 500); },
function(){ jQuery("#twitter_right").stop(true,false).animate({right: -325}, 500); });

jQuery("#testimoni_right").hover(function(){ jQuery(this).stop(true,false).animate({right:  0}, 500); },
function(){ jQuery("#testimoni_right").stop(true,false).animate({right: -300}, 500); });
});
</script>

<!--sidebar script end from here-->
<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140719676-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-140719676-1');
</script>
</head>

<body>
<div id="servicebg">
<div id="foot">
<div id="fix">
<div id="actual">

<div class="ratexts">

{% include menu.html %}

<div class="rhside">

<div class="subheadscover">
	<div><a href="index.html" class="subheads" target="_self">HOME</a></div>
	 <!--<div class="subheads" target="_self">|</div>
    <div><a href="our_advisary_board.html" class="subheads" target="_self">OUR ADVISARY BOARD</a></div>-->
    <div class="subheads" target="_self">|</div>
    <div><a href="global_partners.html" class="subheads" target="_self">GLOBAL PARTNERS IN CARE</a></div><div class="subheads" target="_self">|</div><div><a href="/blog/" class="subheads" target="_self">BLOG</a></div><div class="subheads" target="_self">|</div><div><a href="/lionels-world/" class="subheads">LIONEL'S COMIC</a></div>


</div>

<div class="phonecover">
<div class="stayintouch">Stay in Touch in crisis situations !</div>
<div class="number">+91 98444 95527, +91 96633 77762</div>
</div>


<h1 class="caption">Senior Care Options</h1>
<div class="subcaption">You are not alone You have options...</div>

<div class="servicpagehd">Coma Care</div>



</div>
</div>

<div class="ratexts">

<div class="onebythre">



<div class="servicpagehd"><a name="2">Coma Care</a></div>
<div class="bgtext">

<p>Years in the long term care industry, advantAGE seniors is concerned with the care of coma patients in our community. We believe and advocate that the comatose person also deserve the same care and attention as any other patient.</p>

<p>Riddled with uncertainty, a coma is one of the most frightening injuries, at least in part because literally the life comes to a standstill for the comatose person as well as the family and friends. Loosing hope is nothing but natural in the long wait. But the good news is that people can and do survive comas.  Over the last 15 years in long term care with a specialization in coma management, we felt a strong need to fortify and bolster the family and friends morale, thereby providing the best chances of a wake-up from deep sleep.</p>

<p>After the initial shock, the family comes to the reality and stares at the fact, How Long? Yes it’s a long wait. Uncertainty looms large for the family and friends. Most of the families have no clue about caring protocol and are poorly informed of the nursing outcomes. Few of the family get sucked into the vortex of despair and no one coming forward to help and support. Majority of the family get unsolicited opinions from multiple sources thus the decision making becomes difficult.</p>

<p>Majority of Comatose patients are on life sustaining interventions like  Tracheostomy, Gastrostomy, Catheter and so on. Proper nutrition is essential to recovery, so evaluations can be performed to determine the best means for a patient to maintain adequate nutrition. The feeding tube will maintain proper nutrition until a patient is able to swallow properly again. Several feeding tubes are common: the nasogastric (NG) tube, which does not require a surgical procedure for use and is passed through the patient’s nose and into the stomach; the jejunostomy (J) tube, which is surgically inserted directly into the small intestine, and the gastrostomy (G) tube, which is inserted directly into the stomach.</p>

<p>The long period of inactivity that may be part of the comatose condition can cause certain physical problems. Skin problems such as pressure ulcers can develop after lying in one position for a long time. The best prevention is frequent inspection of the skin and shifting and repositioning. Blood clots, called deep vein thrombosis (DVT), may develop especially in the legs when patients have limited mobility. In short prevention, maintenance and quality nursing care is what a comatose person needs for his ‘recovery’.</p>

<p>In short, it’s round the clock care and attention needed for a comatose patient in the days to come. At this point, the family is utterly confused as how to cope with the demands of intense care.  Once a person is medically stable, transfer to a long-term rehabilitation facility like our coma care facility. In our coma facility, he or she will spend several hours a day in a structured rehabilitation program. The goals of our coma rehabilitation includes minimizing morbidity, maintaining functional positioning, hygiene, nutrition, and medication management, as well as providing support for the person with a brain injury and his or her family. The family will be relieved of the stress once the comatose person is under our care. We provide the best possible care and assist the person in coma towards independence.</p>

</div>

</div>

<div class="onebyfour">

<div class="servicpagehd">Download Brouchure</div>
<div class="iconcover" align="center"><a href="images/downloads/Brochure.pdf" target="_blank" ><img src="images/download.jpg" border="0" class="widimg"/></a></div>

<div class="servicpagehd">Geriatric Care Facilitys</div>
<div class="iconcover" align="center"><img src="images/icons1.jpg"/></div>
<div class="iconcover" align="center"><img src="images/icons2.jpg"/></div>
<div class="iconcover" align="center"><img src="images/icons3.jpg"/></div>
<div class="iconcover" align="center"><img src="images/icons4.jpg"/></div>
<div class="iconcover" align="center"><img src="images/icons5.jpg"/></div>
<div class="iconcover" align="center"><img src="images/icons6.jpg"/></div>


</div>


</div>

<div class="scroll-top-wrapper ">
<span class="scroll-top-inner">
<i class="fa fa-arrow-up"></i>
</span>
</div>


{% include footer.html %}


</div>
</div>
</div>
</div>

<table width="100%">
        <tr>
        <td>


          <div id="on">
    <div id="facebook_right" style="top: 15%; right: -325px; border: 1px solid #822206;">
        <div id="facebook_div">
            <img src="images/ebrochure.png">
            <iframe src="/sidebar/enquiry.htm" scrolling="no" width="320px" frameborder="0"></iframe>
        </div>
    </div>
</div>


<div id="on">
    <div id="twitter_right" style="top: 45%; right: -325px; border: 1px solid #822206;">
        <div id="twitter_div">
            <img id="twitter_right_img" src="images/contactus.png">
             <iframe src="/sidebar/contact.htm" scrolling="no" width="320px" frameborder="0"></iframe>

        </div>
    </div>
</div>
        </td>
        </tr>
        </table>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5831b72d7295ad7394d0ba6f/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!-- End of Tawk.to Script --><!-- Fontawesome through JavaScript -->
<script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = '//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })();</script>

</body>
</html>
