---
layout: compress
title: Home
description: "When you feel the need for a professional care giver for your loved one, you start the journey by finding
the best home care service provider. AdvantAGE Seniors bangalore is the best elder Geriatric Care Facility."
image: /images/servicebg.jpg
permalink: /
redirect_from: /employee_recognition.html
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1" name="viewport">

    {% seo %}

    <link href="/images/fav-icon.png" rel="shortcut icon" />

    <link href="/assets/css/advant.css" rel="stylesheet" type="text/css" />


    <!--bg imag slideshow script start-->

    <link href="/bgslider/sliderreset.css" rel="stylesheet" type="text/css">
    <link href="/bgslider/sliderstyle.css" rel="stylesheet" type="text/css">
    <script src="/bgslider/jquery.min.js"></script>
    <script src="/bgslider/slider.js"></script>

    <!--bg imag slideshow script end-->




    <!--mobile menu start-->
    <link href="/respmenu/responsivemobilemenu.css" rel="stylesheet" type="text/css" />
    <script src="/respmenu/responsivemobilemenu.js" type="text/javascript"></script>
    <!--mobile menu end-->

    <!--sidebar script start from here-->
    <link href="/sidebar/sidebar.css" rel="stylesheet" type="text/css" />

    <!--sidebar script end from here-->
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#facebook_right").hover(function () {
                jQuery(this).stop(true, false).animate({
                    right: 0
                }, 500);
            }, function () {
                jQuery("#facebook_right").stop(true, false).animate({
                    right: -325
                }, 500);
            });

            jQuery("#twitter_right").hover(function () {
                jQuery(this).stop(true, false).animate({
                    right: 0
                }, 500);
            }, function () {
                jQuery("#twitter_right").stop(true, false).animate({
                    right: -325
                }, 500);
            });

            jQuery("#testimoni_right").hover(function () {
                jQuery(this).stop(true, false).animate({
                    right: 0
                }, 500);
            }, function () {
                jQuery("#testimoni_right").stop(true, false).animate({
                    right: -300
                }, 500);
            });
        });
    </script>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140719676-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-140719676-1');
    </script>
</head>

<body>

    <div id="foot">
        <div id="fix">
            <div id="actual">


                <div class="ratexts">
                    <style>
                        .ratexts.adjust {
                            margin-top: -9px;
                            margin-bottom: -9px;
                        }
                    </style>
                    {% include menu.html %}


                </div>

                <div class="ratexts">

                    <div class="lhhome">

                        <div class="ratexts">
                            <div class="icons"><img src="/images/cartoon1.png"
                                    alt="cartoon illustration of elder care" /></div>
                            <div class="icons"><img src="/images/cartoon2.png"
                                    alt="cartoon illustration of elder care" /></div>
                            <div class="icons"><img src="/images/cartoon3.png"
                                    alt="cartoon illustration of elder care" /></div>
                            <div class="icons"><img src="/images/cartoon4.png"
                                    alt="cartoon illustration of elder care" /></div>
                            <div class="icons"><img src="/images/cartoon5.png"
                                    alt="cartoon illustration of elder care" /></div>
                            <div class="icons"><img src="/images/cartoon6.png"
                                    alt="cartoon illustration of elder care" /></div>
                        </div>

                        <div class="bighd">Home Care</div>
                        <div class="ratexts">
                            <p>
                                <strong>It is a FREE initial consultation. Set up a No-Obligation Assessment</strong>
                            </p>

                            <P>When you felt the need for a professional care giver for your loved one, you start the
                                journey by finding the best home care service provider. Elder care services are a
                                growing part of the healthcare market. It seems everywhere you turn these days new care
                                services providers are sprouting.</P>

                        </div>
                        <div>
                            <a class="more" href="homecare.html">Read More...</a>
                        </div>

                        <div class="ratexts">
                            <div class="bighd">Coma Care</div>
                            <div class="ratexts">

                                <P>Years in the long term care industry, advantAGE seniors is concerned with the care of
                                    coma patients in our community. We believe and advocate that the comatose person
                                    also deserve the same care and attention as any other patient.</P>

                            </div>
                            <div>
                                <a class="more" href="comacare.html">Read More...</a>
                            </div>
                        </div>

                    </div>
                    <div class="rhhome">

                        <div class="ratexts">
                            <div class="photoscovr1">
                                <div class="photos"><img src="/images/photo4.jpg" alt="elder male" /></div>
                                <div class="photos"><img src="/images/photo2.jpg" alt="elder female" /></div>

                                <div class="ratexts">
                                    <div class="bighd">Assisted Care Facility</div>
                                    <div class="ratexts">
                                        <strong>Are you looking for a place to keep your loved one?</strong><br>
                                        Home is the first and the best option for the elders and we call it"ageing in
                                        place"! However, many a time, home fails to extend the support systems needed
                                        for adequate care giving during infirmity.</div>
                                    <div>
                                        <a class="more" href="carehome.html">Read More...</a>
                                    </div>
                                </div>
                            </div>

                            <div class="photoscovr2">
                                <div class="photos"><img src="/images/photo3.jpg" alt="elder male" /></div>
                                <div class="photos"><img src="/images/photo1.jpg" alt="elder female" /></div>
                            </div>
                        </div>

                    </div>


                </div>


                {% include google-reviews-slider.html %}

                {% include featured-articles.html %}

                {% include footer.html %}


            </div>
        </div>
    </div>


    <div id="bg">
        <ul class="slider">
            <li><img src="/images/mainpagebg.jpg" alt="elder care in bangalore"></li>
            <li><img src="/images/bg2.jpg" alt="elder care in bangalore"></li>
            <li><img src="/images/galbg.jpg" alt="elder care in bangalore"></li>
            <li><img src="/images/servicebg.jpg" alt="elder care in bangalore"></li>
        </ul>
    </div>

    {% include sidebar-brochure.html %}

    <!--Start of Tawk.to Script-->
    <script async type="text/javascript">
        var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"),
                s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = "https://embed.tawk.to/5831b72d7295ad7394d0ba6f/default";
            s1.charset = "UTF-8";
            s1.setAttribute("crossorigin", "*");
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!-- End of Tawk.to Script -->
    <!-- Fontawesome through JavaScript -->
    <script type="text/javascript">
        (function () {
            var css = document.createElement("link");
            css.href = "//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
            css.rel = "stylesheet";
            css.type = "text/css";
            document.getElementsByTagName("head")[0].appendChild(css);
        })();
    </script>
    <script defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"
        src="//instant.page/3.0.0" type="module"></script>
</body>

</html>