<!--Start of Crisp Script-->
<script
    type="text/javascript">window.$crisp = []; window.CRISP_WEBSITE_ID = "b91bfa5c-b0d8-4864-9e18-2bba72f2a8d9"; (function () { d = document; s = d.createElement("script"); s.src = "https://client.crisp.chat/l.js"; s.async = 1; d.getElementsByTagName("head")[0].appendChild(s); })();</script>
<!-- End of Crisp Script -->

<!-- Fontawesome through JavaScript -->
<script async type="text/javascript">
    (function () {
        var css = document.createElement("link");
        css.href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
        css.rel = "stylesheet";
        css.type = "text/css";
        document.getElementsByTagName("head")[0].appendChild(css);
    })();
</script>