<section class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center pb-4">
        <div class="card shadow bg-white p-5">
          <div class="row">
            <div class="col-md-8">
              <p class="lead font-weight-bold">
                Need to know more about our services? <br />
                Call
                <a href="tel:09844495527">+91 984 449 5527</a>
              </p>
            </div>
            <div class="col-md-4 my-auto">
              <a
                class="btn btn-primary btn-lg"
                href="{{site.contact-email-link}}"
                >Consult for Free</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
