<section class="elder-care-illustrations">
  <div class="container">
    <h4>This comic series intends to convey the challenges faced by elderly people through the conversations between a social gerontologist and her pet.</h4>
    <div class="row">
      {% for item in site.data.elder-care-illustrations %}
      <div class="card mb-4">
        <img
          class="card-img-top"
          src="{{item.image}}"
          alt="{{item.title}}"
          loading="lazy"
        />
        <div class="card-body">
          <h2 class="card-title">{{post.title}}</h2>
          <p class="card-text">{{post.description}}</p>
          <a href="{{item.link}}" class="btn btn-outline-primary float-right">Read More →</a>
        </div>
        <div class="card-footer text-muted">
          Posted on {{ post.date | date: '%d %B, %Y' }} by
          <a href="/know-us/">{{post.author | join: ', '}}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
