<section class="privacy bg-light">
  <div class="container">
    <h2 class="slider-header text-center">Frequently Asked Questions - Faq's</h2>
    <p>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        I'm curios, tell me why you told you give importance to preventive care ?
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        Answer is simple, our practice past 20 years taught us that most of the conditions worsen due the lack of adequate preventive care. Adopting appropriate preventive protocols, one can prevent many untoward incidents there by avoiding hospitalisation. Thus , Falls, Urinary Tract Infections, Aspiration, Bed sores, and malnutrition can be contained to a certain extent.
      </div>
    </div>
  </div>
</section>
<style>
  .privacy p {
    font-size: 1em;
    line-height: 1.8;
    margin-bottom: 20px;
  }

  .privacy strong {
    font-weight: bold;
    font-size: 1.1em;
  }
</style>
