<section class="faq py-3 mb-5" id="faq">
  <div class="container">
    <h2 class="slider-header text-center mb-5">Frequently Asked Questions - Faq's</h2>

    <div id="accordion">
      <div class="mb-1">
        <a class="btn btn-light btn-block text-left collapse-heading collapsed" data-toggle="collapse" href="#collapse1"
          role="button" aria-expanded="false" aria-controls="collapse1">
          I'm curios, tell me why you told you give importance to preventive care ? <span class="close">
            <span>&times;</span>
          </span>
        </a>
        <div data-parent="#accordion" class="collapse" id="collapse1">
          <div class="card card-body">
            Answer is simple, our practice past 20 years taught us that most of the conditions worsen due the lack of
            adequate preventive care. Adopting appropriate preventive protocols, one can prevent many untoward incidents
            there by avoiding hospitalisation. Thus , Falls, Urinary Tract Infections, Aspiration, Bed sores, and
            malnutrition can be contained to a certain extent.
          </div>
        </div>
      </div>

      <div class="mb-1">
        <a class="btn btn-light btn-block text-left collapse-heading collapsed" data-toggle="collapse" href="#collapse2"
          role="button" aria-expanded="false" aria-controls="collapse2">
          I'm old but no major illness. Should I plan for my disabled years ? <span class="close close-btn">
            <span>&times;</span>
          </span>
        </a>
        <div data-parent="#accordion" class="collapse" id="collapse2">
          <div class="card card-body">
            Yes. You agree that you are getting old and there is chance that you may cross 80's. It is natural that we
            want to gloss over the fact that one day there is a possibility of some sort of disability or chronic
            diseases
            afflicting you. Remember the life is riddled with uncertainties. It is better to be prepared for such an
            eventuality. All your life you planned and executed your life; your career, your house, your finance, then
            why
            not plan your old age. It makes the life easier for your children and spouse. We will help you navigate the
            rough patch if there is any in the fag end of your life. It is better to have clarity, than to leave it to
            fate.
          </div>
        </div>
      </div>

      <div class="mb-1">
        <a class="btn btn-light btn-block text-left collapse-heading collapsed" data-toggle="collapse" href="#collapse3"
          role="button" aria-expanded="false" aria-controls="collapse3">
          What you mean by 'Culture Change'? <span class="close">
            <span>&times;</span>
          </span>
        </a>
        <div data-parent="#accordion" class="collapse" id="collapse3">
          <div class="card card-body">
            It is a relatively new term used in long term care of the elders. “Culture change” is the common name given
            to
            the national movement for the transformation of older adult services, based on person-directed values and
            practices where the voices of elders and those working with them are considered and respected. Core
            person-directed values are choice, dignity, respect, self-determination and purposeful living. Culture
            change
            in long-term care is about meaningful relationships and service, where caregivers and staff really know the
            people they care for, so that individuals can continue to live a meaningful life and feel “at home” wherever
            they are. Part of feeling at home is creating living spaces that are more private, comfortable, and
            personalised. We adopted culture change in our practice.
          </div>
        </div>
      </div>
      <div class="mb-1">
        <a class="btn btn-light btn-block text-left collapse-heading collapsed" data-toggle="collapse" href="#collapse4"
          role="button" aria-expanded="false" aria-controls="collapse4">
          Is it important that I discuss my future plans with other family members ? <span class="close">
            <span>&times;</span>
          </span>
        </a>
        <div data-parent="#accordion" class="collapse" id="collapse4">
          <div class="card card-body">
            Yes. As a person, you have your own likes and dislikes. A discussion with the immediate family about your
            intentions and wishes will give clarity to your golden years. This will avoid conflict of interest and
            easier
            for the immediate family as you have already made things clear. No ambiguities or you never left any space
            for
            guessing. In our country, in the absence of advance directives as a legal document, a discussion of your
            likes
            and dislikes is a must. Read along with the previous question.
          </div>
        </div>
      </div>

      <div class="mb-1">
        <a class="btn btn-light btn-block text-left collapse-heading collapsed" data-toggle="collapse" href="#collapse5"
          role="button" aria-expanded="false" aria-controls="collapse5">
          Is it necessary to review medications regularly, if so how often ?<span class="close">
            <span>&times;</span>
          </span>
        </a>
        <div data-parent="#accordion" class="collapse" id="collapse5">
          <div class="card card-body">
            Polypharmacy, is very common in the elderly. Periodic review of medications are a must for the elderly. This
            is because the elders have chronic conditions for which they are medicating from a long time. Also few have
            the habit of changing the physicians very often. In between, you may have prescribed for a acute phase.
            Unknowingly, few elders continue to take these medications for a long time. Unless you are educated properly
            about medications you end up taking pills for no reason which is dangerous too.
          </div>
        </div>
      </div>

      <div class="mb-1">
        <a class="btn btn-light btn-block text-left collapse-heading collapsed" data-toggle="collapse" href="#collapse6"
          role="button" aria-expanded="false" aria-controls="collapse6">
          As the adult child of elderly parents, how best I can help them ?<span class="close">
            <span>&times;</span>
          </span>
        </a>
        <div data-parent="#accordion" class="collapse" id="collapse6">
          <div class="card card-body">

            Your infirm elderly parents definitely need your physical, emotional and financial support. Though they may
            not openly demand anything from you, you are obligated to dole out love and care. Many of the elders, insist
            that they don’t want to burden you with their needs, but you cannot close eyes to their needs. When you are
            the primary care giver of your elderly parents, the onus of ensuring the best care lies on you. In many
            cases,
            children dodge best options citing various reasons, like “we hate institutionalisation of our parents” “the
            care home is far from home” “my parents may not be comfortable to keep a full time care giver at home”,
            instead the elderly parents are kept at home with compromised care. When selecting the care plan or care
            setting, keep your elderly parents best interest as first priority. Another trend we noticed is the ‘money
            crunch’, when it comes to parents care. Remember these parents never compromised your well being, though
            they
            have limited income and you were the priority.
          </div>
        </div>
      </div>

      <div class="mb-1">
        <a class="btn btn-light btn-block text-left collapse-heading collapsed" data-toggle="collapse" href="#collapse7"
          role="button" aria-expanded="false" aria-controls="collapse7">
          Do you provide transitional care management ?<span class="close">
            <span>&times;</span>
          </span>
        </a>
        <div data-parent="#accordion" class="collapse" id="collapse7">
          <div class="card card-body">
            Transitional care management is our forte. Upon discharge from hospitals, our transitional care team visit
            the hospital to understand the condition, medications and the post discharge care. We then co-ordinate with
            the existing acute care treatment team and family members or community care settings where patient is going
            to get shifted to and draw a transitional care plan before discharge. Transitional care will help regain the
            health and also in reducing the readmissions.
          </div>
        </div>
      </div>

      <div class="mb-1">
        <a class="btn btn-light btn-block text-left collapse-heading collapsed" data-toggle="collapse" href="#collapse8"
          role="button" aria-expanded="false" aria-controls="collapse8">
          Do you evaluate and educate the competency of the care provider ?<span class="close">
            <span>&times;</span>
          </span>
        </a>
        <div data-parent="#accordion" class="collapse" id="collapse8">
          <div class="card card-body">

            Our team can help you select the right care service provider by evaluating the level of competency. It is
            very important to find out the caregivers knowledge about diseases and it’s management. We also find how
            well versed they are about the geriatric syndromes. We also find out the agencies policies regarding
            preventive care protocols, emergency protocols, complain redressal policies, and continuum of care policies
            etc. As this is an unorganised sector with no government regulation, lot of agencies started operating just
            as any other business. Elder care or long term care is a passion and it is not a ‘business’ in the strict
            sense. Majority of the agencies, have no policies or basic knowledge about elder care. Before we recommend
            any agency, we find out the qualifications of the people who run it and the training imparted to their
            caregivers. A thorough evaluation is done because these agencies can fleece you and take advantage of your
            helpless situations.
          </div>
        </div>
      </div>

      <div class="mb-1">
        <a class="btn btn-light btn-block text-left collapse-heading collapsed" data-toggle="collapse" href="#collapse9"
          role="button" aria-expanded="false" aria-controls="collapse9">
          When you think that we can contact the ECE team? And how often ?<span class="close">
            <span>&times;</span>
          </span>
        </a>
        <div data-parent="#accordion" class="collapse" id="collapse9">
          <div class="card card-body">
            You can contact ECE team, when you feel your elderly parents ‘care needs’ are changing. When ever you feel
            there is a change in the mental, emotional and physical health, change in dependency for ADLS, or when the
            current care plan is inadequate in order to achieve optimum care. A regular evaluation once a month can be
            adopted as a part of Preventive care plan. We are available for any number of consultations.
          </div>
        </div>
      </div>

      <div class="mb-1">
        <a class="btn btn-light btn-block text-left collapse-heading collapsed" data-toggle="collapse"
          href="#collapse10" role="button" aria-expanded="false" aria-controls="collapse10">
          How much it cost for an on-site consultation ?<span class="close">
            <span>&times;</span>
          </span>
        </a>
        <div data-parent="#accordion" class="collapse" id="collapse10">
          <div class="card card-body">
            It will cost around INR 5000/- for a social gerontologist onsite visit. Through this visit, he/she will
            study the disease progression, evaluate the physical and psychosocial parameters, study the geriatric
            syndromes, conduct a medication review and enlighten the preventive care aspects. After this visit, a
            detailed care plan is drawn and shared with the family.
          </div>
        </div>
      </div>

      <div class="mb-1">
        <a class="btn btn-light btn-block text-left collapse-heading collapsed" data-toggle="collapse"
          href="#collapse11" role="button" aria-expanded="false" aria-controls="collapse11">
          Do you have a continuous care monitoring plan and how much it cost ?<span class="close">
            <span>&times;</span>
          </span>
        </a>
        <div data-parent="#accordion" class="collapse" id="collapse11">
          <div class="card card-body">
            We have CCM program for older adults who has fewer filial support systems. We visit once in fortnightly and
            monitor the care given to the older adults, bodily changes, overall health assessment, checking the
            medication orders, assessment of progression of disease, nutrition intakes, etc. This will include a
            fortnightly visit and SOS visits, it will cost an annual retainer fee of INR 12,000/- and each fortnightly
            visit will costs INR 2000/- SOS visits will costs around 2500/-. A report will be generated for each visit
            and shared.
          </div>
        </div>
      </div>

      <div class="mb-1">
        <a class="btn btn-light btn-block text-left collapse-heading collapsed" data-toggle="collapse"
          href="#collapse12" role="button" aria-expanded="false" aria-controls="collapse12">
          Will you act as a go-between with family members who differ ?<span class="close">
            <span>&times;</span>
          </span>
        </a>
        <div data-parent="#accordion" class="collapse" id="collapse12">
          <div class="card card-body">

            Family dysfunction or sibling rivalry may affect elderly parents care. Difference of opinion regarding care
            of older parents may result in mismanaged care of older parents. We act as mediators between the family
            members and help them achieve a win-win situation.
          </div>
        </div>
      </div>

      <div class="mb-1">
        <a class="btn btn-light btn-block text-left collapse-heading collapsed" data-toggle="collapse"
          href="#collapse13" role="button" aria-expanded="false" aria-controls="collapse13">
          Will you assists with doctor’s consultation and hospital admissions ?<span class="close">
            <span>&times;</span>
          </span>
        </a>
        <div data-parent="#accordion" class="collapse" id="collapse13">
          <div class="card card-body">
            Yes. Many a time families find it difficult to take a client to a doctor’s office for consultation for want
            of time as you have hectic work schedules. Thus regular health check-up is getting postponed. We can
            coordinate and help you plan a consultation with a consultant at the hospital, also help coordinate an
            admission into a hospital, both planned hospitalisation and emergency hospitalisation. This service is
            extended to older adults who sign in for Foster Care with us. The facilitation charge will be Rs. 3500/- per
            half day and if it extends beyond it will be 5000/-. Both will attract actual taxi fare.
          </div>
        </div>
      </div>

    </div>


  </div>
</section>
<style>
  .privacy p {
    font-size: 1em;
    line-height: 1.8;
    margin-bottom: 20px;
  }

  .privacy strong {
    font-weight: bold;
    font-size: 1.1em;
  }
</style>