<section class="faq" id="faq">
  <div class="container">
    <h2 class="slider-header text-center mb-3">Frequently Asked Questions - Faq's</h2>

    <div class="mb-1">
      <a class="btn btn-secondary btn-block text-left" data-toggle="collapse" href="#collapse1" role="button"
        aria-expanded="false" aria-controls="collapse1">
        I'm curios, tell me why you told you give importance to preventive care ? <button type="button" class="close"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </a>
      <div class="collapse" id="collapse1">
        <div class="card card-body">
          Answer is simple, our practice past 20 years taught us that most of the conditions worsen due the lack of
          adequate preventive care. Adopting appropriate preventive protocols, one can prevent many untoward incidents
          there by avoiding hospitalisation. Thus , Falls, Urinary Tract Infections, Aspiration, Bed sores, and
          malnutrition can be contained to a certain extent.
        </div>
      </div>
    </div>

    <div class="mb-1">
      <a class="btn btn-secondary btn-block text-left" data-toggle="collapse" href="#collapse2" role="button"
        aria-expanded="false" aria-controls="collapse2">
        I'm old but no major illness. Should I plan for my disabled years? <button type="button" class="close"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </a>
      <div class="collapse" id="collapse2">
        <div class="card card-body">
          Yes. You agree that you are getting old and there is chance that you may cross 80's. It is natural that we
          want to gloss over the fact that one day there is a possibility of some sort of disability or chronic diseases
          afflicting you. Remember the life is riddled with uncertainties. It is better to be prepared for such an
          eventuality. All your life you planned and executed your life; your career, your house, your finance, then why
          not plan your old age. It makes the life easier for your children and spouse. We will help you navigate the
          rough patch if there is any in the fag end of your life. It is better to have clarity, than to leave it to
          fate.
        </div>
      </div>
    </div>

    <div class="mb-1">
      <a class="btn btn-secondary btn-block text-left" data-toggle="collapse" href="#collapse3" role="button"
        aria-expanded="false" aria-controls="collapse3">
        What you mean by 'Culture Change'? <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </a>
      <div class="collapse" id="collapse3">
        <div class="card card-body">
          It is a relatively new term used in long term care of the elders. “Culture change” is the common name given to
          the national movement for the transformation of older adult services, based on person-directed values and
          practices where the voices of elders and those working with them are considered and respected. Core
          person-directed values are choice, dignity, respect, self-determination and purposeful living. Culture change
          in long-term care is about meaningful relationships and service, where caregivers and staff really know the
          people they care for, so that individuals can continue to live a meaningful life and feel “at home” wherever
          they are. Part of feeling at home is creating living spaces that are more private, comfortable, and
          personalised. We adopted culture change in our practice.
        </div>
      </div>
    </div>
    <div class="mb-1">
      <a class="btn btn-secondary btn-block text-left" data-toggle="collapse" href="#collapse4" role="button"
        aria-expanded="false" aria-controls="collapse4">
        Is it important that I discuss my future plans with other family members ? <button type="button" class="close"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </a>
      <div class="collapse" id="collapse4">
        <div class="card card-body">
          Yes. As a person, you have your own likes and dislikes. A discussion with the immediate family about your
          intentions and wishes will give clarity to your golden years. This will avoid conflict of interest and easier
          for the immediate family as you have already made things clear. No ambiguities or you never left any space for
          guessing. In our country, in the absence of advance directives as a legal document, a discussion of your likes
          and dislikes is a must. Read along with the previous question.
        </div>
      </div>
    </div>

    <div class="mb-1">
      <a class="btn btn-secondary btn-block text-left" data-toggle="collapse" href="#collapse5" role="button"
        aria-expanded="false" aria-controls="collapse5">
        Is it necessary to review medications regularly, if so how often?<button type="button" class="close"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </a>
      <div class="collapse" id="collapse5">
        <div class="card card-body">
          Polypharmacy, is very common in the elderly. Periodic review of medications are a must for the elderly. This
          is because the elders have chronic conditions for which they are medicating from a long time. Also few have
          the habit of changing the physicians very often. In between, you may have prescribed for a acute phase.
          Unknowingly, few elders continue to take these medications for a long time. Unless you are educated properly
          about medications you end up taking pills for no reason which is dangerous too.
        </div>
      </div>
    </div>


  </div>
</section>
<style>
  .privacy p {
    font-size: 1em;
    line-height: 1.8;
    margin-bottom: 20px;
  }

  .privacy strong {
    font-weight: bold;
    font-size: 1.1em;
  }
</style>