<section class="featured-blogs bg-light">
  <div class="container">
    <h2 class="slider-header text-center">Featured Blogs</h2>
    <p class="lead text-center">
      We have curated our experience and advices over a single place. Read for
      understanding us better.
    </p>
    {% for item in site.posts limit: 3 %}
    <div>
      <div
        class="col-12 bg-white shadow border px-md-5 py-3 py-md-5 my-4 my-md-5"
      >
        <div class="row justify-content-center">
          <div
            class="col-md-6 align-self-center text-center {% cycle '', 'order-md-2' %} px-0"
          >
          <div class="rounded">
            <img
            style="width: 100%; height:max-content;"
            loading="lazy"
            src="{{item.image}}"
            alt="{{item.title}} elder care services in bangalore"
            title="elder care services in banglaore"
            />
          </div>
          </div>
          <div class="col-md-6 align-self-center order-md-1">
            <h3 class="title">{{item.title}}</h3>
            <p>{{item.description}}</p>

            <div class="{% cycle 'text-right', '' %}">
              <a
                class="btn btn-primary"
                aria-label="{{item.title}} elder care services bangalore"
                href="{{item.url}}"
                title="{{item.title}} elder care services bangalore"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
