<section class="py-lg">
    <div class="container">
        <h2 class="slider-header">Featured Articles</h2>
        <div class="row">
            <div class="col-12 mb-4">
                <a class="nostyle" target="_blank"
                    href="http://archive.kuow.org/post/who-will-care-parents-expat-indians-0">
                    <div class="fm shadow p-3">
                        <h3 class="display-4">Who Will Care For The Parents Of Expat Indians?</h3>
                        <p>Three generations live under the same roof in this bustling home: two rambunctious kids,
                            their weary parents and an 80-year-old grandfather...</p>
                    </div>
                </a>
            </div>

            <div class="col-12 mb-4">
                <a class="nostyle" target="_blank"
                    href="https://www.newindianexpress.com/cities/bengaluru/2011/jun/13/advantage-of-hope-care-and-helping-hands-262197.html">
                    <div class="fm shadow p-3">
                        <h3 class="display-4">Advantage of hope, care and helping hands</h3>
                        <p>While people took to the streets to protest the administration of euthanasia to Aruna
                            Shanbhag, who survived a horror but was relegated to coma and who is now in a vegetative
                            state...</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>
</section>

<style>
    .py-lg {
        padding: 3rem 0;
    }

    .p-3 {
        padding: 1rem;
    }

    .mb-4 {
        margin-bottom: 20px;
    }

    a.nostyle,
    a.nostyle:hover {
        text-decoration: none;
        color: inherit;
    }

    .display-4 {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .fm {
        background: white;
        padding: 15px;
        border-radius: 4px;
    }

    .shadow {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
</style>