<section class="py-lg">
  <div class="container">
    <h2 class="slider-header">Featured Articles</h2>
    <div class="row">
      <div class="feature-column fcol1  mb-4">
        <a class="nostyle" href="http://archive.kuow.org/post/who-will-care-parents-expat-indians-0" rel="noopener noreferrer"
           target="_blank">
          <div class="fm shadow p-3 ">
            <img alt="Who Will Care For The Parents Of Expat Indians?" src="/images/featured-articles/featured-1.jpg"
              >
            <h3 class="display-4">Who Will Care For The Parents Of Expat Indians?</h3>
            <p>Three generations live under the same roof in this bustling home: two rambunctious kids,
              their weary parents...</p>
            <p class="text-right pt-2">
              <span class="btn btn-success btn-sm">Read More</span>
            </p>
          </div>
        </a>
      </div>

      <div class="feature-column fcol2 mb-4">
        <a class="nostyle"
          href="https://www.newindianexpress.com/cities/bengaluru/2011/jun/13/advantage-of-hope-care-and-helping-hands-262197.html"
          rel="noopener noreferrer"  target="_blank">
          <div class="fm shadow p-3 ">
            <img alt="Advantage of hope, care and helping hands" src="/images/featured-articles/featured-2.jpg"
              >
            <h3 class="display-4">Advantage of hope, care and helping hands</h3>
            <p>Aruna Shanbhag, who survived a horror but was relegated to coma and who is now in a
              vegetative state...</p>
            <p class="text-right pt-2">
              <span class="btn btn-success btn-sm">Read More</span>
            </p>
          </div>
        </a>
      </div>

      <div class="feature-column fcol3 mb-4">
        <a class="nostyle"
          href="https://timesofindia.indiatimes.com/city/bengaluru/Coma-care-centre-takes-these-patients-forward/articleshow/8829789.cms"
          rel="noopener noreferrer"  target="_blank">
          <div class="fm shadow p-3 ">
            <img alt="Coma care centre takes these patients forward" src="/images/featured-articles/featured-3.jpg"
              >
            <h3 class="display-4">Coma care centre takes these patients forward</h3>
            <p>Started by Advantage Seniors Foundation, the patients are taken care of, spoken to and put
              through physiotherapy...</p>
            <p class="text-right pt-2">
              <span class="btn btn-success btn-sm">Read More</span>
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
