<div class="footer">

<DIV CLASS="ratexts">
<div class="footmenucover">
	<!--<div><a href="homecare.html" class="footsubheads" target="_self">HOME CARE</a></div>
	<div class="footsubheads" target="_self">|</div>
    <div><a href="carehome.html" class="footsubheads" target="_self">Geriatric Care Facility</a></div>
    <div class="footsubheads" target="_self">|</div>
    <div><a href="comacare.html" class="footsubheads" target="_self">COMA CARE</a></div>
    <div class="footsubheads" target="_self">|</div>-->
    <div><a href="refferals.html" class="footsubheads" target="_self">REFERRALS</a></div>
     <div class="footsubheads2" target="_self">|</div>
    <div><a href="/videos/" class="footsubheads" target="_self">VIDEOS</a></div>
      <div class="footsubheads2" target="_self">|</div>
<div><a href="/blog/" class="footsubheads">BLOG</a></div>
  <div class="footsubheads2" target="_self">|</div>
<div><a href="/lionels-world/" class="footsubheads">LIONEL'S WORLD</a></div>
	<div class="footsubheads2" target="_self">|</div>
<div><a href="testimonials.html" class="footsubheads" target="_self">TESTIMONIALS</a></div>

</div>
<div class="social-icons">
  <a href="https://www.facebook.com/advantageseniors/" class="social" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  <a href="https://twitter.com/AdvantageSenio4" class="social" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a href="https://www.instagram.com/advantageseniorss/" class="social" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  <a href="http://www.linkedin.com/company/advantageseniors" class="social" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  <a href="http://in.pinterest.com/advantagengageseniors/" class="social" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
  <a href="mailto:advantagejacob@gmail.com" class="social"><i class="fa fa-envelope" aria-hidden="true"></i></a>
</div>
</DIV>


<div class="copyright"> &copy; 2019 All rights reserved by Advantage Seniors | Maintained by <a href="https://icsoln.com/" target="_blank"> ICS</a></div>
<div class="web">

</div>

<div class="soccov">
<div class="social">SOCIALIZE WITH : </div>
<div ><a href="https://www.facebook.com/Advantage-Seniors-Consulting-1671134279867943/" class="social" target="_blank"><img src="/images/fecabook.png"/></a></div>
<!--<div class="social"><img src="/images/twitter.png"/></div>-->
<div class="social"><img src="/images/linkedinn.png"/></div>
<div class="social"><img src="/images/gplus.png"/></div>
<!--<div class="social"><img src="/images/youtube.png"/></div>-->

</div>

</div>
