<div class="footer">

    <DIV class="ratexts">
        <div class="footmenucover">
            <!--<div><a href="homecare.html" class="footsubheads" target="_self">HOME CARE</a></div>
	<div class="footsubheads" target="_self">|</div>
    <div><a href="carehome.html" class="footsubheads" target="_self">Geriatric Care Facility</a></div>
    <div class="footsubheads" target="_self">|</div>
    <div><a href="comacare.html" class="footsubheads" target="_self">COMA CARE</a></div>
    <div class="footsubheads" target="_self">|</div>-->
            <div>
                <a class="footsubheads" href="refferals.html" target="_self">REFERRALS</a>
            </div>
            <div class="footsubheads2" target="_self">|</div>
            <div>
                <a class="footsubheads" href="/videos/" target="_self">VIDEOS</a>
            </div>
            <div class="footsubheads2" target="_self">|</div>
            <div>
                <a class="footsubheads" href="/blog/">BLOG</a>
            </div>
            <div class="footsubheads2" target="_self">|</div>
            <div>
                <a class="footsubheads" href="/lionels-world/">LIONEL'S WORLD</a>
            </div>
            <div class="footsubheads2" target="_self">|</div>
            <div>
                <a class="footsubheads" href="testimonials.html" target="_self">TESTIMONIALS</a>
            </div>

        </div>
        <div class="social-icons">
            <a class="social" href="https://www.facebook.com/advantageseniors/" target="_blank" rel="noopener"
                rel="noreferrer">
                <i aria-hidden="true" class="fa fa-facebook"></i>
            </a>
            <a class="social" href="https://twitter.com/AdvantageSenio4" target="_blank" rel="noopener"
                rel="noreferrer">
                <i aria-hidden="true" class="fa fa-twitter"></i>
            </a>
            <a class="social" href="https://www.instagram.com/advantageseniorss/" target="_blank" rel="noopener"
                rel="noreferrer">
                <i aria-hidden="true" class="fa fa-instagram"></i>
            </a>
            <a class="social" href="http://www.linkedin.com/company/advantageseniors" target="_blank" rel="noopener"
                rel="noreferrer">
                <i aria-hidden="true" class="fa fa-linkedin"></i>
            </a>
            <a class="social" href="http://in.pinterest.com/advantagengageseniors/" target="_blank" rel="noopener"
                rel="noreferrer">
                <i aria-hidden="true" class="fa fa-pinterest"></i>
            </a>
            <a class="social" href="mailto:advantagejacob@gmail.com">
                <i aria-hidden="true" class="fa fa-envelope"></i>
            </a>
        </div>
    </DIV>


    <div class="copyright">
        &copy; 2019 All rights reserved by Advantage Seniors | Maintained by
        <a href="https://icsoln.com/" target="_blank">
            ICS</a>
    </div>
    <div class="web"></div>

    <div class="soccov">
        <div class="social">SOCIALIZE WITH :
        </div>
        <div>
            <a class="social" href="https://www.facebook.com/Advantage-Seniors-Consulting-1671134279867943/"
                target="_blank" rel="noopener" rel="noreferrer"><img alt="Facebook icon"
                    src="/images/fecabook.png" /></a>
        </div>
        <!--<div class="social"><img src="/images/twitter.png"/></div>-->
        <div class="social"><img alt="LinkedIn icon" src="/images/linkedinn.png" /></div>
        <div class="social"><img alt="Google plus icon" src="/images/gplus.png" /></div>
        <!--<div class="social"><img src="/images/youtube.png"/></div>-->

    </div>

</div>