<!-- Testimonial slider styles -->
<section class="reviews bg-light">
  <div class="container">
    <h2 class="slider-header">What Do They Say?</h2>
    <p class="lead text-center">
      The people that have experienced our services have written a thing or two
      about our services which indicates that we are indeed the best elder care
      service provider in Bengaluru.
    </p>
    <div id="slider">
      <a class="control_next">&#62;</a>
      <a class="control_prev">&#60; </a>
      <ul>
        {% for item in site.data.google-reviews limit: 10 %}
        <li>
          <div class="card">
            <blockquote>{{item.review | truncate: 480}}</blockquote>
            <p style="text-align: right">
              <img
                class="shadow rounded-circle"
                src="{{item.image}}"
                alt="{{item.name}}"
              />
              {{item.name}}
            </p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <p class="more-reviews"><a class="btn btn-primary" href="/reviews/">More Reviews</a></p>
</section>
