<!-- Testimonial slider styles -->
<link rel="stylesheet" href="/assets/css/slider.css">

<h2 class="slider-header">What Do They Say?</h2>

<div id="slider">
  <a class="control_next">></a>
  <a class="control_prev"><</a>
  <ul>
    {% for item in site.data.google-reviews limit: 10 %}
    <li>
      <div class="card">
        <blockquote>
          {{item.review | truncate: 480}}
        </blockquote>
        <p style="text-align: right">
          <img src="{{item.image}}" alt="{{item.name}}" /> {{item.name}}
        </p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<p class="more-reviews"><a class="btn" href="reviews.html">More Reviews</a></p>

<!-- Testimonial slider script -->
<script>
  jQuery(document).ready(function($) {
    $("#checkbox").change(function() {
      setInterval(function() {
        moveRight();
      }, 3000);
    });

    var slideCount = $("#slider ul li").length;
    var slideWidth = $("#slider ul li").width();
    var slideHeight = $("#slider ul li").height();
    var sliderUlWidth = slideCount * slideWidth;

    $("#slider").css({ width: slideWidth, height: slideHeight });

    $("#slider ul").css({ width: sliderUlWidth, marginLeft: -slideWidth });

    $("#slider ul li:last-child").prependTo("#slider ul");

    function moveLeft() {
      $("#slider ul").animate(
        {
          left: +slideWidth
        },
        300,
        function() {
          $("#slider ul li:last-child").prependTo("#slider ul");
          $("#slider ul").css("left", "");
        }
      );
    }

    function moveRight() {
      $("#slider ul").animate(
        {
          left: -slideWidth
        },
        300,
        function() {
          $("#slider ul li:first-child").appendTo("#slider ul");
          $("#slider ul").css("left", "");
        }
      );
    }

    $("a.control_prev").click(function() {
      moveLeft();
    });

    $("a.control_next").click(function() {
      moveRight();
    });
  });
</script>
