<div class="logoportion">
    <div class="ratexts">
        <div>
            <a class="logoleafs" href="/case-studies/">
                <img alt="case_studies" border="0" src="/images/menus/1.png"/>
            </a>
        </div>
        <div>
            <a class="logoleafs" href="/things-to-know/"><img alt="things_to_know" border="0" src="/images/menus/2.png"/></a>
        </div>
        <div>
            <a class="logoleafs" href="/corporate-social-responsibility"><img alt="csr" border="0" src="/images/menus/3.png"/></a>
        </div>
        <div>
            <a class="logoleafs" href="/know-us/"><img alt="know_as" border="0" src="/images/menus/4.png"/></a>
        </div>
        <div>
            <a class="logoleafs" href="/media/"><img alt="media" border="0" src="/images/menus/5.png"/></a>
        </div>
    </div>

    <div class="ratexts adjust">
        <div>
            <a class="logoleafs" href="/guidance-resources/" target="_self"><img alt="guidance_resources" border="0" src="/images/menus/6.png"/></a>
        </div>
        <div>
            <a class="logoleafs" href="/"><img alt="Advantage Seniors logo" border="0" src="/images/menus/7.png"/></a>
        </div>
        <div>
            <a class="logoleafs" href="/services/"><img alt="services" border="0" src="/images/menus/8.png"/></a>
        </div>
    </div>

    <div class="ratexts">
        <div>
            <a class="logoleafs" href="/franchise/"><img alt="franchise" border="0" src="/images/menus/9.1.png"/></a>
        </div>
        <div>
            <a class="logoleafs" href="/experts/"><img alt="expert" border="0" src="/images/menus/10.png"/></a>
        </div>
        <div>
            <a class="logoleafs" href="/research/"><img alt="research" border="0" src="/images/menus/11.png"/></a>
        </div>
        <div>
            <a class="logoleafs" href="/gallery/"><img alt="gallery" border="0" src="/images/menus/12.png"/></a>
        </div>
        <div>
            <a class="logoleafs" href="/seminars/"><img alt="seminars" border="0" src="/images/menus/13.png"/></a>
        </div>
    </div>
</div>

<!-- SAPPHIRE STYLE mobile menu starts-->
<div class="mobilemenu">
    <div class="ratexts">
        <a href="/"><img class="spacer" src="/images/logo.png"/></a>
    </div>
    <div class="ratexts">
        <div class="rmm" data-menu-style="sapphire">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/know-us/">Know Us</a></li>
                <li><a href="/media/">Media</a></li>
                <li><a href="/services/">Services</a></li>
                <li><a href="/seminars/">Seminars</a></li>
                <li><a href="/gallery/">Gallery</a></li>
                <li><a href="/research/">Research</a></li>
                <li><a href="/experts/">Experts Panel</a></li>
                <li><a href="/franchise/">Franchaise</a></li>
                <li><a href="/case-studies/">Case Studies</a></li>
                <li><a href="/things-to-know/">Things to Know</a></li>
                <li><a href="/corporate-social-responsibility/">CSR - Corporate Social Responsibility</a></li>
                <li><a href="/guidance-resources/">Guidance and Resources</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- SAPPHIRE STYLE mobile menu end-->

<div class="rhside">

    <div class="subheadscover">

        <div>
            <a class="subheads" href="/" target="_self">HOME</a>
        </div>
        <!--<div class="subheads" target="_self">|</div>
        <div><a href="our_advisary_board.html" class="subheads" target="_self">OUR ADVISARY BOARD</a></div>-->
        <div class="subheads" target="_self">|</div>
        <div>
            <a class="subheads" href="/global-partners/" target="_self">GLOBAL PARTNERS IN CARE</a>
        </div>
        <div class="subheads" target="_self">|</div>
        <div>
            <a class="subheads" href="/blog/" target="_self">BLOG</a>
        </div>
        <div class="subheads" target="_self">|</div>
        <div>
            <a class="subheads" href="/lionels-world/">LIONEL'S COMIC</a>
        </div>
    </div>

    <div class="phonecover">
        <div class="stayintouch">Stay in Touch in crisis situations !</div>
        <div class="number">+91 98444 95527, +91 96633 77762</div>
    </div>

    <h1 class="caption">Senior Care Options</h1>
    <div class="subcaption">You are not alone You have options...</div>

    <div class="gallerypagehd">CSR - Corporate Social Responsibility</div>
    <div>
        <a class="arrowtext" href="#1">PHM</a>
    </div>
    <div>
        <a class="arrowtext" href="#2">Rural Interventions</a>
    </div>
    <div>
        <a class="arrowtext" href="#3">Ashraya Seva Samasthe</a>
    </div>
    <div>
        <a class="arrowtext" href="#4">Sandhya Kutteera</a>
    </div>
    <div>
        <a class="arrowtext" href="#5">Chinnara Angala</a>
    </div>
    <div>
        <a class="arrowtext" href="#6">Swawalambhini</a>
    </div>

</div>