<head>
  <meta charset="utf-8" />
  <meta
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    name="viewport"
  />

  <!-- DNS prefetch -->
  <link href="https://cdn.jsdelivr.net" rel="dns-prefetch" />
  <link href="https://embed.tawk.to" rel="dns-prefetch" />
  <link href="https://stackpath.bootstrapcdn.com" rel="dns-prefetch" />
  <link href="https://fonts.googleapis.com" rel="dns-prefetch" />
  <link href="https://stackpath.bootstrapcdn.com" rel="dns-prefetch" />

  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

  {% seo %}

  <!-- Custom styles for this template -->
  <link href="/assets/css/main.css" rel="stylesheet" />

  <!-- Google Fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=DM+Sans%7CSource+Sans+Pro:900&display=swap" rel="stylesheet"> -->
  {% include google-fonts.html %}

  {% if page.layout == "post" %}
  <!-- share buttons -->
  <script
    async="async"
    src="https://platform-api.sharethis.com/js/sharethis.js#property=5e17005954c2170012dd2b0e&product=inline-share-buttons&cms=sop"
  ></script>
  {% endif %}
  <!-- Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-140719676-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-140719676-1");
  </script>
</head>
