<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="https://advantageseniors.org">
      <h1>{{site.title}}</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item has-nav">
          <a class="nav-link js-scroll-trigger" href="#">About</a>
          <ul class="dropdown">
            <li><a aria-label="Know us" href="https://advantageseniors.org/know-us">Know us</a></li>
            <li><a aria-label="services" href="https://advantageseniors.org/services/">Services</a></li>
            <li><a aria-label="gallery" href="https://advantageseniors.org/gallery/">Gallery</a></li>
          </ul>
        </li>
        <li class="nav-item has-nav">
          <a class="nav-link js-scroll-trigger" href="#">Resources</a>
          <ul class="dropdown">
            <li><a aria-label="experts" href="https://advantageseniors.org/experts/">Experts</a></li>
            <li><a aria-label="research" href="https://advantageseniors.org/research/">Research</a></li>
            <li><a aria-label="seminars" href="https://advantageseniors.org/seminars/">Seminars</a></li>
            <li><a aria-label="Guidance" href="https://advantageseniors.org/guidance-resources/">Guidance</a></li>
          </ul>
        </li>
        <li class="nav-item has-nav">
          <a class="nav-link js-scroll-trigger" href="#">Know More</a>
          <ul class="dropdown">
            <li><a aria-label="things to Know" href="https://advantageseniors.org/things-to-know/">Things To Know</a>
            </li>
            <li><a aria-label="franchise" href="https://advantageseniors.org/franchise/">Franchise</a></li>
            <li><a aria-label="media" href="https://advantageseniors.org/media/">Media</a></li>
            <li><a aria-label="corporate social responsibility"
                href="https://advantageseniors.org/corporate-social-responsibility/">Corporate Social Responsibility</a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-nav">
          <a class="nav-link js-scroll-trigger" href="#">Read Me</a>
          <ul class="dropdown">
            <li><a aria-label="case Studies" href="https://advantageseniors.org/case-studies/">Case Studies</a></li>
            <li><a aria-label="blog" href="https://advantageseniors.org/blog/">Blog</a></li>
            <li><a aria-label="faq" href="/#faq/">Faq</a></li>
            <!-- {% if page.url != '/' %} -->
            <!-- {% endif %} -->
          </ul>
        </li>
        <!-- {% if page.url != '/blog/' %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://advantageseniors.org/blog/">Blog</a>
            </li>
            {% endif %} -->
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="mailto:advantagejacob@gmail.com">Contact</a>
        </li>

        {% if page.layout == 'blog' or page.layout == 'post' %}
        <li>
          <p class="nav-link font-changer">Font size: <span class="js-font-decrease">A</span> <span
              class="js-font-normal">A</span> <span class="js-font-increase">A</span></p>
        </li>
        {% endif %}
        <a id="whatsapp-link" style="z-index: 999; position: fixed; bottom: 15px; right: 15px;"
          href="https://api.whatsapp.com/send?text=Hi advantAGE Seniors, We want to get in touch with you regarding&phone=9844495527"
          target="_blank">
          <img style="height: 60px; width: 60px; transition: all ease-in-out 0.5ms;" src="/assets/images/whatsapp.webp"
            alt="whatsapp"></a>
      </ul>
    </div>
  </div>
</nav>