{% if page.type == 'home' %}
<header class="bg-primary text-white">
    <div class="container text-center overflow-hidden">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-7 order-2 mt-4 mt-lg-0 d-grid">
                <h2 class="title">
                    {{page.title}}
                </h2>
                <p class="lead">
                    {{page.description}}
                </p>
            </div>
            <div class="col-12 col-lg-5 order-1 mt-5 mt-lg-0 d-flex justify-content-center">
                <div class="logoportion rotating">
                    <div class="ratexts">
                        <div>
                            <a class="logoleafs" href="/case-studies/">
                                <img style="width: 100%; height:max-content;" title="case studies" alt="case studies"
                                    src="/images/menus/1.png" />
                            </a>
                        </div>
                        <div>
                            <a class="logoleafs" href="/things-to-know/">
                                <img style="width: 100%; height:max-content;" alt="things to know" title="things to know"
                                    src="/images/menus/2.png" />
                            </a>
                        </div>
                        <div>
                            <a class="logoleafs" href="/corporate-social-responsibility">
                                <img style="width: 100%; height:max-content;" alt="corporate social responsibility" title="corporate social responsibility"
                                    src="/images/menus/3.png" />
                            </a>
                        </div>
                        <div>
                            <a class="logoleafs" href="/know-us/">
                                <img style="width: 100%; height:max-content;" alt="about advantage seniors" title="about advantage seniors"
                                    src="/images/menus/4.png" />
                            </a>
                        </div>
                        <div>
                            <a class="logoleafs" href="/media/">
                                <img style="width: 100%; height:max-content;" alt="media coverage on advantage seniors" title="media coverage on advantage seniors"
                                    src="/images/menus/5.png" />
                            </a>
                        </div>
                    </div>
                    <div class="ratexts adjust">
                        <div>
                            <a class="logoleafs" href="/guidance-resources/">
                                <img style="width: 100%; height:max-content;" alt="guidance resources" title="guidance resources"
                                    src="/images/menus/6.png" />
                            </a>
                        </div>
                        <div>
                            <a class="logoleafs" href="/">
                                <img style="width: 100%; height:max-content;" alt="Advantage Seniors logo" title="Advantage Seniors logo"
                                    src="/images/menus/7.png" />
                            </a>
                        </div>
                        <div>
                            <a class="logoleafs" href="/services/">
                                <img style="width: 100%; height:max-content;" alt="services" title="services"
                                    src="/images/menus/8.png" />
                            </a>
                        </div>
                    </div>
                    <div class="ratexts">
                        <div>
                            <a class="logoleafs" href="/franchise/">
                                <img style="width: 100%; height:max-content;" alt="franchise" title="franchise" class=" adjust-color"
                                    src="/images/menus/9.3.png" />
                            </a>
                        </div>
                        <div>
                            <a class="logoleafs" href="/experts/">
                                <img style="width: 100%; height:max-content;" alt="adult care experts" title="adult care experts"
                                    src="/images/menus/10.png" />
                            </a>
                        </div>
                        <div>
                            <a class="logoleafs" href="/research/">
                                <img style="width: 100%; height:max-content;" alt="research on elder care" title="research on elder care"
                                    src="/images/menus/11.png" />
                            </a>
                        </div>
                        <div>
                            <a class="logoleafs" href="/gallery/">
                                <img style="width: 100%; height:max-content;" alt="gallery" title="gallery"
                                    src="/images/menus/12.png" />
                            </a>
                        </div>
                        <div>
                            <a class="logoleafs" href="/seminars/">
                                <img style="width: 100%; height:max-content;" alt="seminars on adult care" title="seminars on adult care"
                                    src="/images/menus/13.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% else %}
<header class="bg-primary text-white">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="/">
                    <img alt="{{site.title}}" title="{{site.title}}" class="img-fluid mr-3 " src="/images/advantage-logo-with-text.webp"
                        width="200" height="150" />
                </a>
            </div>
            <div class="col-12 col-md-8 order-1">
                <h1 class="title">
                    {{page.title}}
                </h1>
                <p class="lead">
                    {{page.description}}
                </p>
            </div>
        </div>
    </div>
</header>
{% endif %}