<!-- Footer -->
<footer class="footer pt-5 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="logo">
          <img width="50" class="img-fluid pb-3" src="/images/advantage-new-logo.png" alt="{{site.title}}" />
          <a href="/">{{site.title}}</a>
        </div>
        <p>
          When you feel the need for a professional care giver for your loved
          one, you start the journey by finding the best home care service
          provider. AdvantAGE Seniors bangalore is the best elder Geriatric Care
          Facility.
        </p>
        <div class="social-icon">
          <a href="https://www.facebook.com/advantageseniors" aria-label="Facebook advantage seniors" class="social" target="_blank"><i
              class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/AdvantageSenio4" class="social" target="_blank"
            aria-label="Twitter advantage seniors"><i class="fa fa-twitter"></i></a>
          <a href="https://www.instagram.com/advantageseniorss/" class="social" target="_blank"
            aria-label="Instagram  advantage seniors"><i class="fa fa-instagram"></i></a>
          <a href="http://www.linkedin.com/company/advantageseniors" class="social" target="_blank"
            aria-label="Linkedin  advantage seniors"><i class="fa fa-linkedin"></i></a>
          <a href="http://in.pinterest.com/advantagengageseniors/" class="social" target="_blank"
            aria-label="Pintreset advantage seniors"><i class="fa fa-pinterest"></i></a>
          <a href="mailto:advantagejacob@gmail.com" aria-label="Gmail advan seniors" class="social"><i class="fa fa-envelope"
              aria-hidden="false"></i></a>
        </div>
      </div>
      <div class="col-md-3">
        <h5 class="title">Quick Links</h5>
        <p class="m-0"></p>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/know-us/">Know Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/case-studies/">Case Studies</a>
          </li>
          {% if page.url != '/blog/' %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/blog/">Blog</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="mailto:advantagejacob@gmail.com">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="title">Stay in touch</h5>
        <p>
          339, 9th Main Rd, Stage 2, <br />Eshwara Layout, Indiranagar,
          <br />Bengaluru, Karnataka 560038
        </p>

        <table class="table table-borderless p-0 m-0">
          <tbody>
            <tr>
              <td class="p-0 text-white">
                <strong>Phone :</strong>
              </td>
              <td class="p-0">
                <a href="tel:+919844495527">+91 98444 95527</a> <br />
                <a href="tel:+919663377762">+91 96633 77762</a>
              </td>
            </tr>
          </tbody>
        </table>
        <p>
          <strong>Web :</strong>
          <a href="https://advantageseniors.org/">www.advantageseniors.org</a>
        </p>
      </div>
    </div>
    <hr class="border-light-grey" />
    <div class="row">
      <div class="col-12">
        <p class="text-left">
          Copyright © <a href="/">{{site.title}}</a> | Powered by
          <a href="https://icsoln.com" target="_blank">ICS</a>
        </p>
      </div>
    </div>
  </div>
</footer>