<!-- Navigation -->
<div class="div">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">
        <h1>{{site.title}}</h1>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item has-nav">
            <a class="nav-link js-scroll-trigger" href="#">About</a>
            <ul class="dropdown">
              <li><a aria-label="Know us" href="/know-us/">Know us</a></li>
              <li><a aria-label="services" href="/services/">Services</a></li>
              <li><a aria-label="gallery" href="/gallery/">Gallery</a></li>
            </ul>
          </li>
          <li class="nav-item has-nav">
            <a class="nav-link js-scroll-trigger" href="#">Resources</a>
            <ul class="dropdown">
              <li><a aria-label="experts" href="/experts/">Experts</a></li>
              <li><a aria-label="research" href="/research/">Research</a></li>
              <li><a aria-label="seminars" href="/seminars/">Seminars</a></li>
              <li><a aria-label="Guidance" href="/guidance-resources/">Guidance</a></li>
            </ul>
          </li>
          <li class="nav-item has-nav">
            <a class="nav-link js-scroll-trigger" href="#">Know More</a>
            <ul class="dropdown">
              <li><a aria-label="things to Know" href="/things-to-know/">Things To Know</a></li>
              <li><a aria-label="franchise" href="/franchise/">Franchise</a></li>
              <li><a aria-label="media" href="/media/">Media</a></li>
              <li><a aria-label="corporate social responsibility" href="/corporate-social-responsibility/">Corporate Social Responsibility</a></li>
            </ul>
          </li>
         
          <li class="nav-item has-nav">
            <a class="nav-link js-scroll-trigger" href="#">Read Me</a>
            <ul class="dropdown">
              <li><a aria-label="case Studies" href="/case-studies/">Case Studies</a></li>
              <li><a aria-label="blog" href="/blog/">Blog</a></li>
            </ul>
          </li>
          <!-- {% if page.url != '/blog/' %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/blog/">Blog</a>
            </li>
            {% endif %} -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="mailto:advantagejacob@gmail.com">Contact</a>
          </li>
  
          {% if page.layout == 'blog' or page.layout == 'post' %}
          <li>
            <p class="nav-link font-changer">Font size: <span class="js-font-decrease">A</span> <span
                class="js-font-normal">A</span> <span class="js-font-increase">A</span></p>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <a id="whatsapp-link"   href="https://api.whatsapp.com/send?phone=9844495527" target="_blank"><img src="/assets/images/whatsapp.png" alt=""></a>
</div>
