<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>{{page.title}}</title>

    <!-- Custom styles for this template -->
    <link href="/assets/css/main.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=DM+Sans|Source+Sans+Pro:900&display=swap" rel="stylesheet">

    <!-- share buttons -->
    <script async="async"
        src="https://platform-api.sharethis.com/js/sharethis.js#property=5e17005954c2170012dd2b0e&product=inline-share-buttons&cms=sop"
        type="text/javascript"></script>

</head>