{% if page.type == 'home' %}
<header class="bg-primary text-white">
    <div class="container text-center overflow-hidden">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-7 order-2 mt-4 mt-lg-0 d-grid">
                <h1 class="title">
                    {{page.title}}
                </h1>
                <p class="lead">
                    {{page.description}}
                </p>
            </div>
            <div class="col-12 col-lg-5 order-1 mt-5 mt-lg-0 d-flex justify-content-center">
                <div class="logoportion rotating">
                    <div class="ratexts">
                        <div>
                            <a class="logoleafs" href="/case-studies/">
                                <img alt="case_studies" src="/images/menus/1.png"/>
                            </a>
                        </div>
                        <div>
                            <a class="logoleafs" href="/things-to-know/">
                                <img alt="things_to_know" src="/images/menus/2.png"/>
                            </a>
                        </div>
                        <div>
                            <a class="logoleafs" href="/corporate-social-responsibility">
                                <img alt="corporate-social-responsibility" src="/images/menus/3.png"/>
                            </a>
                        </div>
                        <div>
                            <a class="logoleafs" href="/know-us/">
                                <img alt="about advantage seniors" src="/images/menus/4.png"/>
                            </a>
                        </div>
                        <div>
                            <a class="logoleafs" href="/media/">
                                <img alt="media coverage on advantage seniors" src="/images/menus/5.png"/>
                            </a>
                        </div>
                    </div>
                    <div class="ratexts adjust">
                        <div>
                            <a class="logoleafs" href="/guidance-resources/">
                                <img alt="guidance resources" src="/images/menus/6.png"/>
                            </a>
                        </div>
                        <div>
                            <a class="logoleafs" href="/">
                                <img alt="Advantage Seniors logo" src="/images/menus/7.png"/>
                            </a>
                        </div>
                        <div>
                            <a class="logoleafs" href="/services/">
                                <img alt="services" src="/images/menus/8.png"/>
                            </a>
                        </div>
                    </div>
                    <div class="ratexts">
                        <div>
                            <a class="logoleafs" href="/franchise/">
                                <img alt="franchise" class=" adjust-color" src="/images/menus/9.3.png"/>
                            </a>
                        </div>
                        <div>
                            <a class="logoleafs" href="/experts/">
                                <img alt="adult care experts" src="/images/menus/10.png"/>
                            </a>
                        </div>
                        <div>
                            <a class="logoleafs" href="/research/">
                                <img alt="research on elder care" src="/images/menus/11.png"/>
                            </a>
                        </div>
                        <div>
                            <a class="logoleafs" href="/gallery/">
                                <img alt="gallery" src="/images/menus/12.png"/>
                            </a>
                        </div>
                        <div>
                            <a class="logoleafs" href="/seminars/">
                                <img alt="seminars on adult care" src="/images/menus/13.png"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a id="whatsapp-link"   href="https://api.whatsapp.com/send?phone=9844495527" target="_blank"><img src="/assets/images/whatsapp.png" alt=""></a>
</header>
{% else %}
<header class="bg-primary text-white">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="/">
                    <img alt="{{site.title}}" class="img-fluid mr-3 " src="/images/advantage-logo-with-text.png" width="200"/>
                </a>
            </div>
            <div class="col-12 col-md-8 order-1">
                <h1 class="title">
                    {{page.title}}
                </h1>
                <p class="lead">
                    {{page.description}}
                </p>
            </div>
        </div>
    </div>
    <a id="whatsapp-link"   href="https://api.whatsapp.com/send?phone=9844495527" target="_blank"><img src="/assets/images/whatsapp.png" alt=""></a>
</header>
{% endif %}
