<section class="privacy">
	<div class="container">
		<h2 class="slider-header">Our Privacy Policy</h2>
			<p class="lead">
			We respect the privacy of our client’s protected health information and are committed to <strong>maintaining our client’s confidentiality</strong>. This notice applies to all information and records related to our clients that our facility has received or created. It extends to information received or created by our employees, staff, volunteers and physicians. This notice informs you about the possible uses and disclosures of your protected health information. We understand your rights and our obligations regarding our <strong>clients protected health information</strong>. Protected health information is any information that is created or received by a health care provider that either identifies the resident, or could reasonably be used to identify the resident, that relates to the physical or mental condition of the resident, the provision of health care to the resident or the payment for that health care.

			</p>
			<p class="lead">This privacy policy applies to all our customers whose personal data is collected and processed by advantAGE seniors. advantAGE seniors values your custom and knows how important protecting your privacy is to you. That is why <strong>we never sell, rent or give any of your personal details</strong> to anyone else for marketing purposes. We will only collect and process your personal data when we have lawful bases for doing so.  We have described uses and disclosures below and provide examples of the types of uses and disclosures we may make in each of these categories.
			</p>

			<p class="lead">
			For Treatment, we will use and disclose your protected health information in providing you with treatment and services. We may disclose your protected health information to facility and non-facility personnel, who may be involved in your care, such as physicians, nurses, nurse aides, and therapists. For example, a nurse caring for you will report any change in your condition to your physician. We may also disclose protected health information to individuals who will be involved in your care even after you leave our facility because it is vital to to continue the care and treatment. 
			</p>

			<p class="lead">
			For Payment, we may use and disclose your protected health information so that we can bill and receive payment for the treatment and services you receive at our facility. For billing and payment purposes, we may disclose your protected health information <strong>only to the designated family member</strong> who is responsible for payments.
			</p>

			<p class="lead">
			Some things that should go without saying evidently need to be reinforced. We make sure our skilled nursing home has a written policy <strong>prohibiting staff from taking or using photos or recordings</strong> in any way that would demean or humiliate a resident and subject them to mental abuse. <strong>We never use any photograph</strong> of our clients for promotional purposes like social media and digital marketing. Visitors unrelated to the clients are also barred from interacting with the inmates to protect the privacy. 
				</p>
	</div>
</section>
<style>
	.privacy p {
			font-size: 1em;
			line-height: 1.8;
			margin-bottom: 20px;
	}

	.privacy strong {
		font-weight: bold;
		font-size: 1.1em
	}
</style>