<style>
  .newformbord {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 1px solid #99CC00;
    font-size: 11px;
    line-height: 20px;
    font-weight: normal;
    color: #333333;
    text-decoration: none;
    height: 20px;
    width: 138px;
  }

  .blacktext {
    font-family: Arial;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #666666;
    text-decoration: none;
  }

  .gren {
    font-family: Arial;
    font-size: 0.8rem;
    line-height: 18px;
    font-weight: normal;
    color: #009900;
    text-decoration: none;
  }

  .p-2 {
    padding: 0.5rem 1rem;
  }

  .contact-card p {
    margin: 0 !important;
    font-size: 0.9rem;
    line-height: 1.2;
  }

  .contact-card h3 {
    margin: 0 !important;
    font-weight: bold;
    padding-bottom: 0.5rem;
  }

  .e-broch {
    position: static !important;
  }
</style>

<table class="sidebar" width="100%">
  <tr>
    <td>
      <div id="on">
        <div class="contact-card" id="facebook_right" style="top: 15%; right: -325px; border: 1px solid #822206;">
          <div id="facebook_div">
            <img alt="advantage seniors brochure" src="/images/ebrochure.png">
            <div class="p-2">
              <a href="../images/downloads/Advantage_Green_Brochure_Curves.pdf" target="_blank">
                <img alt="e brochure of advantage seniors" class="e-broch" src="../images/downloadbrouchure.png" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div id="on">
        <div class="contact-card" id="twitter_right" style="top: 45%; right: -325px; border: 1px solid #822206;">
          <div id="twitter_div">
            <img alt="advantage seniors contact information" id="twitter_right_img" src="/images/contactus.png">

            <div class="p-2">
              <h3>AdvantAGE Seniors</h3>
              <p>339, 9th Main Rd, Stage 2,<br>
                Eshwara Layout, Indiranagar,<br>
                Bengaluru, Karnataka 560038<br>
                <strong>Phone :</strong>
                <a class="gren" href="tel:09844495527">+91 98444 95527</a>
                <br>
                <a class="gren" href="tel:09663377762">+91 96633 77762</a><br>
                <!--<strong>E-mail :</strong> <a href="mailto:info@advantageseniors.org" class="gren">info@advantageseniors.org</a><br>-->
                <strong>Web :</strong>
                <a class="gren" href="http://advantageseniors.org" target="_parent">www.advantageseniors.org</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </td>
  </tr>
</table>