<div class="onebyfour">
  <div class="servicpagehd">Download Brouchure</div>

  <div class="iconcover" align="center">
    <a href="/images/downloads/Brochure.pdf" target="_blank"
      ><img
        src="/images/download.jpg"
        class="widimg"
        alt="download brochure button"
    /></a>
  </div>

  <div class="servicpagehd">Geriatric Care Facilitys</div>

  <div class="iconcover" align="center">
    <img src="/images/icons1.jpg" alt="{{site.alt}}" />
  </div>

  <div class="iconcover" align="center">
    <img src="/images/icons2.jpg" alt="{{site.alt}}" />
  </div>

  <div class="iconcover" align="center">
    <img src="/images/icons3.jpg" alt="{{site.alt}}" />
  </div>

  <div class="iconcover" align="center">
    <img src="/images/icons4.jpg" alt="{{site.alt}}" />
  </div>

  <div class="iconcover" align="center">
    <img src="/images/icons5.jpg" alt="{{site.alt}}" />
  </div>

  <div class="iconcover" align="center">
    <img src="/images/icons6.jpg" alt="{{site.alt}}" />
  </div>
</div>
