

<table class="sidebar">
  <tr>
    <td>
      <div id="on1">
        <div class="contact-card" id="facebook_right" style="">
          <div id="facebook_div">
            <img alt="advantage seniors brochure" src="/images/ebrochure.png">
            <div class="p-2">
              <a href="../images/downloads/Advantage_Green_Brochure_Curves.pdf" target="_blank">
                <img alt="e brochure of advantage seniors" class="e-broch" src="../images/downloadbrouchure.png" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div id="on2">
        <div class="contact-card" id="twitter_right" style="top: 45%; right: -325px; border: 1px solid #822206;">
          <div id="twitter_div">
            <img alt="advantage seniors contact information" id="twitter_right_img" src="/images/contactus.png">

            <div class="p-2">
              <h3>AdvantAGE Seniors</h3>
              <p>339, 9th Main Rd, Stage 2,<br>
                Eshwara Layout, Indiranagar,<br>
                Bengaluru, Karnataka 560038<br>
                <strong>Phone :</strong>
                <a class="gren" href="tel:09844495527">+91 98444 95527</a>
                <br>
                <a class="gren" href="tel:09663377762">+91 96633 77762</a><br>
                <!--<strong>E-mail :</strong> <a href="mailto:info@advantageseniors.org" class="gren">info@advantageseniors.org</a><br>-->
                <strong>Web :</strong>
                <a class="gren" href="http://advantageseniors.org" target="_parent">www.advantageseniors.org</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </td>
  </tr>
</table>