
#bg {
/* set first background image! */
background-image: url('../images/mainpagebg.jpg');
position: absolute;
min-width: 100%;
overflow: hidden;
background-size: cover;
background-position: center;
}
#overlay {
position: absolute;
background-color: rgba(255,255,255,0.85);
z-index:-0;
text-align: left;
padding: 40px 50px;
}



/* mobils ----------- */
@media only screen and (min-width : 200px) and (max-width : 500px) {
#bg {
/* set height of background slider */
height: 50%;
z-index: -100;
}

#overlay {
margin: 0;
left: 0;
width: auto;
top: 50%; /* set same value as height of #bg */
height: auto; /* use height: auto; to make it adjust to its contents */
}
}


/* Smartphones ----------- */
@media only screen and (max-width : 767px) {
#bg {
/* set height of background slider */
height: 50%;
z-index: -100;
}
#overlay {
margin: 0;
left: 0;
width: auto;
top: 50%; /* set same value as height of #bg */
height: auto; /* use height: auto; to make it adjust to its contents */
}
}

/* Tablet ----------- */
@media only screen and (min-width : 768px) and (max-width : 1023px) {
#bg {
height: 100%;
z-index: -100;
}

}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1024px) {
#bg {
height: 100%;
z-index: -100;
}
#overlay {
/* set height and width of overlay element */
width: 700px;
height: 380px;
top: 50%;
margin-top: -230px; /* divide height by 2 */
left: 50%;
margin-left: -400px; /* divide width by 2 */
}
}
