---
---

@charset "utf-8";

$brand-color: #4d62ad !default;
// selected based on https://www.resene.co.nz/homeown/use_colr/colours-for-living.htm
$font-family: "DM Sans", sans-serif;
$header-family: "Source Sans Pro", sans-serif;
$font-display: swap;
$font-size: 1.2rem;
$body-color: #666;

// Width of the content area
$content-width: 1000px;
$on-palm: 600px;
$on-laptop: 800px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

*{
  $font-display: swap;
}
html {
  box-sizing: border-box;
  $font-display: swap;
  // -ms-overflow-style: scrollbar;
}

// @font-face {
//   font-family: 'Material Icons';
//   font-style: normal;
//   font-weight: 400;
//   src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
//   $font-display: swap;
// }

// .material-icons {
//   font-family: 'Material Icons';
//   font-weight: normal;
//   font-style: normal;
//   font-size: 24px;
//   line-height: 1;
//   letter-spacing: normal;
//   text-transform: none;
//   display: inline-block;
//   white-space: nowrap;
//   word-wrap: normal;
//   direction: ltr;
//   -webkit-font-feature-settings: 'liga';
//   -webkit-font-smoothing: antialiased;
// }

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import "bootstrap/bootstrap";
@import "scrolling-nav", "homepage", "slider/slider.scss", "custom";
