---
layout: blog
title: advantAGE Seniors Blog
description: Are you looking for a place to keep your loved one? Consult advantAGE Seniors - the best elder care service provider in bangalore.
#permalink: /blog/
---

<!-- Blog Entries Column -->

<div class="col-md-8 resize">
  <div class="accordion d-none" id="accordionMain">
    <h5 class="card-header" id="headingOne">
      <a href="#" class="text-secondary text-left d-block collapsed" data-toggle="collapse" data-target="#collapseId"
        aria-expanded="true" aria-controls="collapseId">
        Index of Blogs <span class="float-right"><img width="14" height="6" src="/assets/images/60995.png" alt="arrow" title="arrow"></span>
      </a>
    </h5>
    <div id="collapseId" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMain">
      {% for item in site.posts %}
      <a class="list-group-item list-group-item-action" style="line-height: 1;"
        aria-label="{{item.title}} elder care services bangalore" href="{{item.url}}"
        title="{{item.title}} elder care services bangalore"><small><strong>{{ forloop.index }}</strong>.
          {{item.title}}</small></a>
      {% endfor %}
    </div>
  </div>

  {% for post in paginator.posts %}
  <!-- Blog Post -->
  <div class="card mb-5">
    <picture > <source media="(max-width: 799px)" srcset="{{post.thumbnail}}" /> <source media="(min-width: 800px)" srcset="{{post.image}}" /> <img class="card-img-top" title="{{post.title}}" src="{{post.image}}" alt="{{post.title}}" loading="lazy" /> </picture>
    <div class="card-body">
      <h2 class="card-title">{{post.title}}</h2>
      <p class="card-text">{{post.description}}</p>
      <a href="{{post.url}}" class="btn btn-outline-primary float-right">Read More →</a>
    </div>
    <div class="card-footer text-muted">
      Posted on {{ post.date | date: '%d %B, %Y' }} by
      <a href="/know-us/">{{post.author | join: ', '}}</a>
    </div>
  </div>
  {% endfor %}

  <!-- Pagination links -->
  <ul class="pagination d-flex">
    <li class="page-item">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="page-link previous">
        Previous
      </a>
      {% else %}
      <span class="previous">Previous</span>
      {% endif %}
    </li>
    <span class="page_number">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    <li class="page-item">
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="page-link next">Next</a>
      {% else %}
      <span class="next">Next</span>
      {% endif %}
    </li>
  </ul>
</div>

<style>
  .pagination {
    place-items: center;
    justify-content: space-between;
  }
</style>
