---
# front matter here
---

<!DOCTYPE html>
<html lang="en">
{% include new-head.html %}
<body id="page-top">
{% include new-navigation.html %}
{% include new-header.html %}

{{content}}

{% include new-footer.html %}

  <!-- Bootstrap core JavaScript -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <!-- <script src="/assets/js/scrolling-nav.js"></script> -->

  <script src="/assets/js/main.js"></script>

  <!-- Fontawesome through JavaScript -->
  <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = '//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })();</script>

  <!-- Chat JavaScript -->
  {% include chat.html %}


</body>

</html>
