---
layout: new-default
---
<section class="blog-index resize py-5">
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 py-2">
                <div class="accordion d-none mb-2" id="accordionMain">
                    <h5 class="card-header" id="headingOne">
                      <a href="#" class="text-secondary text-left d-block collapsed" data-toggle="collapse" data-target="#collapseId"
                        aria-expanded="true" aria-controls="collapseId">
                        Index of Blogs <span class="float-right"><img width="10" height="5" src="/assets/images/60995.png" alt="arrow"></span>
                      </a>
                    </h5>
                    <div id="collapseId" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMain">
                      {% for item in site.posts %}
                      <a class="list-group-item list-group-item-action" style="line-height: 1;"
                        aria-label="{{item.title}} elder care services bangalore" href="{{item.url}}"
                        title="{{item.title}} elder care services bangalore"><small><strong>{{ forloop.index }}</strong>.
                          {{item.title}}</small></a>
                      {% endfor %}
                    </div>
                  </div>
                <img class="img-fluid pb-3" width="16" height="9" src="{{page.image}}" alt="{{page.title}}">
                {{content}}
                <hr class="pb-4">
                <div class="share pt-4">
                    <h5>Share this article</h5>
                    <div class="sharethis-inline-share-buttons"></div>
                </div>
                <div class="comments pt-4">
                    <h5>Add a comment</h5>
                    <div id="disqus_thread"></div>
                    <script>
                        (function () {
                            var d = document, s = d.createElement('script');
                            s.src = 'https://advantage-seniors.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the
                        <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
                    </noscript>
                </div>
            </div>

            {% include blog-sidebar.html %}

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>